{% extends 'user/register_section/register_base.html' %}
{% load static %}

<!-- Page Title -->
{% block title %} Registration {% endblock %}

<!-- Custom CSS -->
{% block styles %}
    <link href="{% static 'css/register_form.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/progress_indicator.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/mark_upload.css' %}" rel="stylesheet"/>
{% endblock %}

<!-- Body -->
{% block body %}
    <div class="register_main">
    <div class="progress_bar">
            {% include './progress_indicator.html' %}
    </div>

    <div class="card-body">
        {{ latest_batch.Batch_Name }} - {{ latest_batch.Month }} - {{ latest_batch.Year }}

        <form action="register" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="main active">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Name</label>
                            <input id="name" class="input--style-4 input_default" type="text" name="Name" required require>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Email</label>
                            <input id="email" class="input--style-4 input_default" type="email" name="Email" required require>
                        </div>
                    </div>


                </div>

                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">DOB</label>
                            <input id="dob" class="input--style-4 input_default" type="date" name="Dob" onclick="maxDate()" required require>
                        </div>
                    </div>

                    <div class="col-2 gender-div">
                        <label class="label">Gender</label>
                        <div class="p-t-10">
                            <label class="radio-container m-r-45">Male
                                <input type="radio" value="Male" checked name="Gender">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">Female
                                <input type="radio" value="Female" name="Gender">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row row-space">

                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Mobile Number</label>
                            <input id="mob" class="input--style-4 input_default" type="tel" name="Mob" maxlength="12" required require>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Address</label>
                            <input id="address" class="input--style-4 input_default" type="text" name="Address" required require>
                        </div>
                    </div>
                </div>

                <div class="p-t-15">
                    <button id="next" class="btn btn--radius-2 btn--blue next_button" type="button">Next</button>
                </div>
            </div>

            <div class="main">
                <div class="row row-space">
                    <div class="col-2">
                        <label for="subject">Are you Cusatian:</label><br>
                        <select name="Cusatian" class="input--style-4 input_default" onclick="universitySelect(this)" id="inputGroupSelect01" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">University</label>
                            <input id="university" class="input--style-4 input_default" type="text" name="University" required require>
                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">PHD Register Number</label>
                            <input id="phd_reg" class="input--style-4 input_default" type="number" name="Phd_Reg" value="0">
                        </div>
                    </div>



                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">PHD joining Date</label>
                            <input id="phd_joining_date" class="input--style-4 input_default" type="date" name="Phd_Joining_Date" required require>
                        </div>
                    </div>
                </div>

                 <div class="col-2">
                        <div class="input-group">
                            <label class="label"></label>
                            <input id="file" class="input--style-4 input_default" type="file" name="file" value="0">
                        </div>
                    </div>



                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Institution</label>
                            <input id="dept" class="input--style-4 input_default" type="text" name="Institution" required require>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Research Topic</label>
                            <input id="research_topic" class="input--style-4 input_default" type="text" name="Research_Topic" required require>
                        </div>
                    </div>
                </div>

                <div class="buttons_parent">
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue back_button" type="button">Back</button>
                    </div>

                    <div class="p-t-15">
                        <button id="next2" class="btn btn--radius-2 btn--blue next_button" type="button">Next</button>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Name</label>
                            <input id="research_guide" class="input--style-4 input_default" type="text" name="Research_Guide" required require>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">E-Mail</label>
                            <input id="guide_mail" class="input--style-4 input_default" type="email" name="Guide_Mail" required require>
                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                           <label class="label">Phone</label>
                           <input  id="guide_phone" class="input--style-4 input_default" type="tel" maxlength="12" name="Guide_Phone" required require>
                        </div>
                    </div>
                </div>

                <div class="buttons_parent">
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue back_button" type="button">Back</button>
                    </div>

                    <div class="p-t-15">
                        <button id="" class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



{% endblock %}

{% block script %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--<script src="{% static 'js/register_form.js' %}"></script>-->
<script src="{% static 'js/progress_indicator.js' %}"></script>

<script>
    const maxDate = () => {
        let inputDate = document.getElementById("dob");

        let dateToday = new Date();

        let day = dateToday.getDay().toString();
        let month = (dateToday.getMonth() + 1).toString();
        let year = dateToday.getFullYear();

        if(month.length < 2) {
            month = '0' + month;
        }

        if(day.length < 2) {
            day = '0' + day;
        }

        console.log(day)

        inputDate.setAttribute('max', [year, month, day].join('-'));
    }

    const universitySelect = (cusatian) => {
        let isCusatian = (cusatian.value === "True") ? true : false;
        let university = document.getElementById("university");

        if(isCusatian) {
            university.value = "Cochin University of Science and Technology";
            university.readOnly = true;
        }
        else {
            university.value = null;
            university.readOnly = false;
        }
    }

</script>

{% endblock %}
