<!DOCTYPE html>
<html>
<head>
    {% load static %}
<title>Page Title</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% static 'css/register_form.css' %}" rel="stylesheet">
    <link href="{% static 'css/reg_success.css' %}" rel="stylesheet">
    <link href="{% static 'css/progress_indicator.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
</head>
<body>
    <div class="register_main">
       
    <div class="reg-complt_div">
        <img src="{% static 'assets/close.png' %}" alt=""/>
        <h1>
            REGISTRATION NOT STARTED!
        </h1>
        <p>
            Your registration is not started. Please contact the admin.(Batch is not started yet)
        </p>
        <br>
         <h3>
           
        </h3>
    </div>



    </div>

   
</body>
</html>