{% extends 'user/base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block body %}
    <main class="container d-flex flex-column justify-content-center col-lg-4" style="min-height: 100vh">
        <div class="mb-3 text-center">
            <h1>Login</h1>
        </div>
        <form action="login" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Email address</label>
                <input type="email"
                       class="form-control"
                       id="username"
                       name="Username"
                       autocomplete="email" >
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="Password" autocomplete="off" >
            </div>
            <div class="mb-3">
                <p class="text-start">Forgot Password?</p>
            </div>
            <button type="submit" class="btn btn-dark w-100">Sign In</button>
        </form>
    </main>
{% endblock body %}
