html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}

.button {
  width: 45px;
  height: 45px;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #cccccc;
  box-shadow: 0px 15px 20px #e6e6e6;
  color: #fff;
  transform: translateY(-7px);
}