.individual-main {
    display: flex;
}

.ind-header {
    display: flex;
}

.ind-header_pic {
    width: 180px;
    height: 200px;
}

.ind-header_pic img {
    width: 100%;
    height: 100%;
}


.col-md-6 .row > *{
    width: max-content;
}

.col-xs-5 {
    width: 41.666% !important;
}
body {
    height: 100vh !important;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

