.individual-main {
    display: flex;
}

.ind-personal {
    display: flex;
}

.ind-personal_fig {
    width: 180px;
    height: 200px;
}

.ind-personal_fig img {
    width: 100%;
    height: 100%;
}

.ind-academic {

}

.ind-verify {

}

.col-md-6 .row > *{
    width: max-content;
}

.col-xs-5 {
    width: 41.666% !important;
}
body {
    height: 100vh !important;
}

/*.main-menu .content {*/
/*    height: 100vh !important;*/
/*}*/
