.main-content .custom-select {
  margin: 20px 0;
  width: 130px;
  height: 40px;
  outline: none;
  border: none;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.9);
  background-color: #ccc;
}

.main-content .custom-select option {
  padding: 30px 10px;
  border-radius: 0;
  outline: none;
}





.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;


}

  .select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  .select-box__value {
    display: flex;
  }

  .select-box__input {
    display: none;


  }
    .select-box__input:checked + .select-box__input-text {
      display: block;
    }

  .select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
  }

  .select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;

    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.9);
  }

  .select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;


  }

    .select-box__option:hover,
    .select-box__option:focus {
      color: #546c84;
      background-color: #fbfbfb;
    }

.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
  }

.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}

.select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__option {
  cursor: pointer;
}

@media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
}


@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}