/* Coded By Rohith */
.dash-icons {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: -30px;
  padding-right: 10px;
}


/* Sidebar Logo Section */
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  color: #434343;
  background: #ffffff;
  font-weight: 500;
}
.header .logo .ico {
  margin-right: 5px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

/* Sidebar Menu */
.navigation .title {
  padding: 12px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #212121;
  background: #e6e9ed;
}
.navigation .menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navigation .menu a {
  display: block;
  color: #434a54;
}
@media (min-width: 1025px) {
  .navigation .menu a:hover {
    color: #304ffe;
  }
  .navigation .menu a:hover i {
    color: #304ffe;
  }
}
.navigation .menu a.active,
.navigation .menu a.current {
  color: #304ffe;
}
.navigation .menu a i {
  color: #212121;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li > a {
  position: relative;
  padding: 14px 30px 14px 53px;
  margin: 0px;
}
.navigation .menu > li > a span {
  vertical-align: middle;
  font-size: 16px;
  color: #fff;
}
.navigation .menu > li > a .menu-arrow {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li.active {
  background: rgba(0, 0, 0, 0.05);
}
.navigation .menu > li.active > a {
  background: #e6e9ed;
}
.navigation .menu > li.active > a .menu-arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}
.navigation .menu > li.current > a {
  background: #304ffe;
  color: #ffffff;
}
.navigation .menu > li.current > a > i {
  color: #ffffff;
}
.navigation .menu > li.current .current > a {
  color: #304ffe;
}
.navigation .menu > li.current .sub-menu {
  display: block;
}
.navigation .menu .sub-menu {
  display: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navigation .menu .sub-menu a {
  padding: 10px 20px 10px 53px;
}
.navigation .menu .menu-icon {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  margin-left: 0;
  width: 50px;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  vertical-align: middle;
}
.navigation .menu .menu-icon.mdi {
  font-size: 20px;
}
.navigation .menu .notice {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 12px;
}
.navigation .menu .waves-ripple {
  background: -webkit-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: -o-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: -moz-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
}


.main-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30;
  width: 260px;
  height: 100%;
  padding-top: 50px;
  background: #ffffff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.main-menu .content {
  height: 100%;
  overflow: auto;
}
.main-menu .button-close {
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 16px;
  outline: none;
  background: none;
  border: none;
  font-size: 20px;
  color: #ffffff;
}
.main-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #aab2bd;
}
.main-menu:hover .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.main-content {
  position: relative;
  z-index: 10;
  margin-left: 280px;
  margin-right: 20px;
  padding-top: 70px;
}

@media (min-width: 800px) {
  .main-menu {
    transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
  }
  .header .logo {
    transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
  }
  .menu-active .header {
    width: 75px;
    height: 0;
    padding: 0;
  }
  .menu-active .header .logo {
    position: fixed;
    z-index: 988;
    width: 75px;
    height: 50px;
    font-size: 0;
    line-height: 50px;
    color: #ffffff;
    background: transparent;
  }
  .menu-active .header .logo::first-letter {
    font-size: 28px;
  }
  .menu-active .header .logo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 50px;
    background: #ffffff;
    z-index: -2;
  }
  .menu-active .header .logo:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 7px;
    width: 35px;
    height: 35px;
    background: #434343;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .menu-active .header .logo .ico {
    margin-right: 0;
    line-height: 44px;
    display: inline-block;
    top: 0;
  }
  .menu-active .main-menu {
    position: absolute;
    width: 75px;
    padding-top: 50px;
  }
  .menu-active .fixed-navbar {
    left: 75px;
    z-index: 40;
  }
  .menu-active .main-content {
    margin-left: 95px;
  }
  .menu-active .user {
    display: none;
  }
  .menu-active .navigation .title {
    display: none;
  }
  .menu-active .navigation .menu > li {
    position: relative;
  }
  .menu-active .navigation .menu > li > a {
    height: 48px;
    padding: 10px 30px;
    transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
  }
  .menu-active .navigation .menu > li > a span {
    display: none;
    font-size: 14px;
    line-height: 30px;
  }
  .menu-active .navigation .menu > li > a .menu-arrow,
  .menu-active .navigation .menu > li > a .notice {
    display: none;
  }
  .menu-active .navigation .menu > li:hover > a {
    width: 260px;
    background: #304ffe;
    color: #ffffff;
    padding-left: 90px;
  }
  .menu-active .navigation .menu > li:hover > a i {
    color: #ffffff;
  }
  .menu-active .navigation .menu > li:hover > a span {
    display: block;
  }
  .menu-active .navigation .menu > li:hover > a .notice {
    display: none;
  }
  .menu-active .navigation .menu > li:hover .sub-menu {
    display: block!important;
  }
  .menu-active .navigation .menu .menu-icon {
    font-size: 24px;
    width: 75px;
  }
  .menu-active .navigation .menu .menu-icon.mdi {
    font-size: 26px;
  }
  .menu-active .navigation .menu .sub-menu {
    display: none!important;
    position: absolute;
    top: 100%;
    left: 75px;
    width: 185px;
  }
  .menu-active .navigation .menu .sub-menu a {
    background: #e6e9ed;
    padding: 10px 15px;
  }
  .menu-active .mCSB_container,
  .menu-active .mCustomScrollBox,
  .menu-active .content {
    overflow: visible;
  }
  .menu-active body {
    height: auto;
  }
}




/**/






html,
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%;
  background: #f5f7fa;
  color: #505458;
}
#wrapper {
  position: relative;
  top: 0px;
  z-index: 10;
  width: 100%;
  min-height: 100%;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  background: #f5f7fa;
  overflow: hidden;
  transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
}
@media (min-width: 1025px) {
  #wrapper {
    top: 0px !important;
  }
}
img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
input,
button,
a {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
a {
  text-decoration: none !important;
  outline: none;
  color: #304ffe;
}
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
  outline: none;
  color: #1e3ded;
}
input,
button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  outline: none;
}
label {
  font-weight: 500;
  margin-bottom: 10px;
}
/* Animation */
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
/* Class */
.fa-hover {
  font-size: 14px;
  line-height: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  cursor: pointer;
}
.fa-hover .ico,
.fa-hover .fa {
  display: inline-block;
  height: 22px;
  vertical-align: top;
  min-width: 28px;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  color: #434343;
}
.fa-hover:hover {
  background: #304ffe;
  color: #ffffff;
}
.fa-hover:hover .ico,
.fa-hover:hover .fa {
  font-size: 22px;
  line-height: 22px;
  height: 22px;
  color: #ffffff;
}
.input-no-style {
  border: none;
  background: none;
  outline: none;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
2. Layout/Boxed
*/
.row-inline-block {
  font-size: 0px;
  text-align: left;
}
.row-inline-block > * {
  display: inline-block;
  float: none;
  font-size: 14px;
  vertical-align: top;
}
.row-inline-block.text-center > * {
  text-align: center;
}
.row.small-spacing {
  margin-left: -10px;
  margin-right: -10px;
}
.row.small-spacing > *[class^="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
3. Hover
*/
.light-effect {
  position: relative;
  overflow: hidden;
  display: block;
}
.light-effect:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: -200%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transform: skew(45deg);
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  -ms-transform: skew(45deg);
}
.light-effect:hover:after {
  left: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
4. Support Class
*/
.error {
  color: #ea4335;
  font-weight: 400;
  padding: 5px 0px 5px 0px;
}
.display-none {
  display: none;
}
@media (min-width: 1025px) {
  .hidden-on-desktop {
    display: none!important;
  }
}
h4 strong {
  font-weight: 600;
  font-size: 16px;
}
.help-block {
  margin-top: 10px;
  color: #aab2bd;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-top-60 {
  margin-top: 60px !important;
}
.margin-top-70 {
  margin-top: 70px !important;
}
.margin-top-80 {
  margin-top: 80px !important;
}
.margin-top-90 {
  margin-top: 90px !important;
}
.margin-top-100 {
  margin-top: 100px !important;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-70 {
  margin-bottom: 70px !important;
}
.margin-bottom-80 {
  margin-bottom: 80px !important;
}
.margin-bottom-90 {
  margin-bottom: 90px !important;
}
.margin-bottom-100 {
  margin-bottom: 100px !important;
}
.padding-for-mess {
  padding: 10px 15px 10px 15px;
}
.padding-10 {
  padding: 10px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-30 {
  padding: 30px !important;
}
.min-height-100 {
  min-height: 100px !important;
}
.min-height-200 {
  min-height: 200px !important;
}
.min-height-300 {
  min-height: 300px !important;
}
.min-height-400 {
  min-height: 400px !important;
}
.min-height-500 {
  min-height: 500px !important;
}
.no-margin {
  margin: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.inline-block {
  display: inline-block;
}
.btn-group-lg > .btn,
.btn-lg {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.btn {
  background: #e4e7ea;
  outline: none !important;
  font-size: 16px;
  line-height: 26px;
  padding: 8px 25px;
  border: none;
  font-weight: 500;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
}
.btn.btn-bordered {
  background: #ffffff;
  color: #434343;
  border: 2px solid #e4e7ea;
}
.btn.btn-bordered:hover {
  background: #e4e7ea;
}
.btn.btn-rounded {
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
}
.btn.btn-rounded.btn-lg {
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
}
.btn.btn-rounded.btn-sm {
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
}
.btn.btn-lg {
  font-size: 18px;
  line-height: 28px;
  padding: 15px 35px;
}
.btn.btn-sm {
  font-size: 14px;
  line-height: 24px;
  padding: 7px 20px;
}
.btn.btn-xs {
  font-size: 12px;
  line-height: 22px;
  padding: 5px 15px;
}
.btn.btn-icon {
  position: relative;
  overflow: hidden;
}
.btn.btn-icon .ico {
  position: absolute;
  top: 0;
  width: 42px;
  height: 100%;
  line-height: 42px;
  background: rgba(0, 0, 0, 0.1);
}
.btn.btn-icon.btn-lg .ico {
  line-height: 58px;
}
.btn.btn-icon.btn-sm .ico {
  line-height: 38px;
  width: 38px;
}
.btn.btn-icon.btn-xs .ico {
  line-height: 32px;
  width: 32px;
}
.btn.btn-icon-left {
  padding-left: 57px;
  padding-right: 15px;
}
.btn.btn-icon-left.btn-lg {
  padding-right: 30px;
  padding-left: 73px;
}
.btn.btn-icon-left .ico {
  left: 0;
}
.btn.btn-icon-left.btn-sm {
  padding-left: 53px;
}
.btn.btn-icon-left.btn-xs {
  padding-left: 47px;
}
.btn.btn-icon-right {
  padding-right: 57px;
  padding-left: 15px;
}
.btn.btn-icon-right.btn-lg {
  padding-left: 30px;
  padding-right: 73px;
}
.btn.btn-icon-right .ico {
  right: 0;
}
.btn.btn-icon-right.btn-sm {
  padding-right: 53px;
}
.btn.btn-icon-right.btn-xs {
  padding-right: 47px;
}
.btn.btn-circle {
  padding-right: 0;
  padding-left: 0;
  width: 42px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.btn.btn-circle.btn-lg {
  width: 58px;
}
.btn.btn-circle.btn-sm {
  width: 38px;
}
.btn.btn-circle.btn-xs {
  width: 32px;
}
.btn.btn-social {
  width: 38px;
  height: 38px;
  padding: 0;
  line-height: 38px;
  color: #ffffff;
}
.btn.btn-facebook {
  background-color: #3b5998 !important;
}
.btn.btn-twitter {
  background-color: #55acee !important;
}
.btn.btn-google-plus {
  background-color: #dd4b39 !important;
}
.btn.btn-linkedin {
  background-color: #007bb6 !important;
}
.btn.btn-instagram {
  background-color: #3f729b !important;
}
.btn.btn-pinterest {
  background-color: #cb2027 !important;
}
.btn.btn-dribbble {
  background-color: #ea4c89 !important;
}
.btn.btn-youtube {
  background-color: #bb0000 !important;
}
.btn.btn-social-with-text {
  width: 100%;
  margin-bottom: 15px;
}
.btn .ico {
  display: inline-block;
}
.btn .ico-left {
  margin-right: 8px;
}
.btn .ico-right {
  margin-left: 8px;
}
.btn-primary {
  background: #304ffe;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #1e3ded !important;
}
.btn-primary.btn-bordered {
  border-color: #304ffe;
  color: #304ffe;
}
.btn-primary.btn-bordered:hover,
.btn-primary.btn-bordered:active,
.btn-primary.btn-bordered:focus {
  border-color: #1e3ded;
  color: #ffffff;
}
.btn-success {
  background: #00bf4f;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background: #00ce55 !important;
}
.btn-success.btn-bordered {
  border-color: #00bf4f;
  color: #00bf4f;
}
.btn-success.btn-bordered:hover,
.btn-success.btn-bordered:active,
.btn-success.btn-bordered:focus {
  border-color: #00ce55;
  color: #ffffff;
}
.btn-info {
  background: #00aeff;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  background: #00aeff !important;
}
.btn-info.btn-bordered {
  border-color: #00aeff;
  color: #00aeff;
}
.btn-info.btn-bordered:hover,
.btn-info.btn-bordered:active,
.btn-info.btn-bordered:focus {
  border-color: #00aeff;
  color: #ffffff;
}
.btn-warning {
  background: #fbbc05;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
  background: #ffa000 !important;
}
.btn-warning.btn-bordered {
  border-color: #fbbc05;
  color: #fbbc05;
}
.btn-warning.btn-bordered:hover,
.btn-warning.btn-bordered:active,
.btn-warning.btn-bordered:focus {
  border-color: #ffa000;
  color: #ffffff;
}
.btn-danger {
  background: #ea4335;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background: #ff3838 !important;
}
.btn-danger.btn-bordered {
  border-color: #ea4335;
  color: #ea4335;
}
.btn-danger.btn-bordered:hover,
.btn-danger.btn-bordered:active,
.btn-danger.btn-bordered:focus {
  border-color: #ff3838;
  color: #ffffff;
}
.btn-violet {
  background: #7045ff;
  color: #ffffff;
}
.btn-violet:hover,
.btn-violet:active,
.btn-violet:focus {
  color: #ffffff;
  background: #8445ff !important;
}
.btn-violet.btn-bordered {
  border-color: #7045ff;
  color: #7045ff;
}
.btn-violet.btn-bordered:hover,
.btn-violet.btn-bordered:active,
.btn-violet.btn-bordered:focus {
  border-color: #8445ff;
  color: #ffffff;
}
.btn-orange {
  background: #ff460b;
  color: #ffffff;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
  color: #ffffff;
  background: #ff6230 !important;
}
.btn-orange.btn-bordered {
  border-color: #ff460b;
  color: #ff460b;
}
.btn-orange.btn-bordered:hover,
.btn-orange.btn-bordered:active,
.btn-orange.btn-bordered:focus {
  border-color: #ff6230;
  color: #ffffff;
}
.tour-buttons .btn.btn-sm {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding: 0 10px;
}
@media (max-width: 999px) {
  .list-inline-faq li {
    width: 100%;
  }
}
.limit-width {
  max-width: 600px;
  display: block;
  margin: 0px auto 0px;
  float: none;
}
.width-100 {
  max-width: 100px !important;
  width: 100px !important;
}
.width-200 {
  max-width: 200px !important;
  width: 200px !important;
}
.width-300 {
  max-width: 300px !important;
  width: 300px !important;
}
.width-400 {
  max-width: 400px !important;
  width: 400px !important;
}
.width-500 {
  max-width: 500px !important;
  width: 500px !important;
}
/* Background colors */
.bg-custom {
  background-color: #71b6f9 !important;
}
.bg-primary {
  background-color: #304ffe !important;
}
.bg-success {
  background-color: #00bf4f !important;
}
.bg-info {
  background-color: #00aeff !important;
}
.bg-warning {
  background-color: #ff8f00 !important;
}
.bg-danger {
  background-color: #ea4335 !important;
}
.bg-muted {
  background-color: #f4f8fb !important;
}
.bg-inverse {
  background-color: #212121 !important;
}
.bg-purple {
  background-color: #5b69bc !important;
}
.bg-pink {
  background-color: #ff8acc !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-lightdark {
  background-color: #f4f8fb !important;
}
.bg-violet {
  background-color: #7045ff !important;
}
.bg-orange {
  background-color: #ff460b !important;
}
/* Text colors */
.text-custom {
  color: #6200ea !important;
}
.text-white {
  color: #ffffff !important;
}
.text-danger {
  color: #ff1744 !important;
}
.text-muted {
  color: #aab2bd !important;
}
.text-primary {
  color: #188ae2 !important;
}
.text-warning {
  color: #fbbc05 !important;
}
.text-success {
  color: #00bf4f !important;
}
.text-info {
  color: #00aeff !important;
}
.text-inverse {
  color: #212121 !important;
}
.text-pink {
  color: #ff8acc !important;
}
.text-purple {
  color: #5b69bc !important;
}
.text-dark {
  color: #212121 !important;
}
.text-orange {
  color: #ff460b !important;
}
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > thead > tr > td.success,
.table > thead > tr > th.success {
  background: #00bf4f;
}
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > thead > tr > td.info,
.table > thead > tr > th.info {
  background: #00aeff;
}
.table > tbody > tr.primary > td,
.table > tbody > tr.primary > th,
.table > tbody > tr > td.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr.primary > td,
.table > tfoot > tr.primary > th,
.table > tfoot > tr > td.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > thead > tr.primary > th,
.table > thead > tr > td.primary,
.table > thead > tr > th.primary {
  background: #304ffe;
}
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > thead > tr > td.danger,
.table > thead > tr > th.danger {
  background: #ea4335;
}
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > thead > tr > td.warning,
.table > thead > tr > th.warning {
  background: #fbbc05;
}
/*---------------------------------------------------------------------*/
/* Header */
/*
Themes: Zeiss
Version 1.0
[Table of contents]
-------------------------------------------------------------------------
1. Main Menu
2. Structure
3. Header
4. User Main Menu
5. Navigation
6. Fixed Navbar
-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
1. Main Menu
*/

/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
2. Structure
*/
.fixed-navbar {
  position: fixed;
  top: 0px;
  left: 260px;
  z-index: 20;
  right: 0px;
  padding: 0px 20px 0px 70px;
  background: #ffffff;
  color: #434343;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}
.fixed-navbar .searchform {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -3px;
  top: 10px;
  height: 32px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  width: 50px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.fixed-navbar .searchform.active {
  opacity: 1;
  width: 320px;
  visibility: visible;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
}
.fixed-navbar .searchform .input-search {
  font-weight: 500;
  height: 32px;
  font-size: 14px;
  width: 320px;
  max-width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border: 1px solid #434343;
}
.fixed-navbar .searchform .button-search {
  top: 50%;
  right: 11px;
  color: #aab2bd;
  font-size: 18px;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.fixed-navbar .searchform .button-search.mdi {
  font-size: 24px;
}
@media (max-width: 799px) {
  .main-menu {
    transform: translate(-110%, 0);
    -webkit-transform: translate(-110%, 0);
    -moz-transform: translate(-110%, 0);
    -o-transform: translate(-110%, 0);
    -ms-transform: translate(-110%, 0);
  }
  .main-menu .header {
    text-align: left;
    padding-left: 20px;
  }
  .main-menu .button-close {
    display: block;
  }
  .main-content {
    margin-left: 20px;
  }
  .fixed-navbar {
    left: 0px;
    right: 0px;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  }
  .menu-active .main-menu {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
}
@media (max-width: 599px) {
  .fixed-navbar .searchform {
    top: 50px;
    position: fixed;
    width: 100%;
    right: 0;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  }
  .fixed-navbar .searchform.active {
    width: 100%;
  }
  .fixed-navbar .searchform .input-search {
    width: 100%;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
3. Header
*/
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  color: #434343;
  background: #ffffff;
  font-weight: 500;
}
.header .logo .ico {
  margin-right: 5px;
  font-size: 20px;
  position: relative;
  top: 2px;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
4. User Main Menu
*/
.user {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  padding: 32px 40px 0 100px;
  height: 110px;
}
.user:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  clear: both;
  overflow: hidden;
}
.user .control-wrap.active .control-list {
  opacity: 1;
  visibility: visible;
}
.user .avatar {
  max-width: 70px;
  position: absolute;
  top: 19px;
  left: 20px;
}
.user .avatar img {
  border: 3px solid #d7ecfb;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.user .control-wrap {
  position: absolute;
  width: 20px;
  height: 40px;
  right: 15px;
  top: 44px;
  text-align: center;
}
.user .control-wrap > .fa {
  font-size: 18px;
  line-height: 20px;
  color: #434a54;
  cursor: pointer;
}
.user .control-list {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  z-index: 20;
  width: 200px;
  margin-top: 2px;
  padding: 10px 0px;
  border: 1px solid rgba(152, 166, 173, 0.15);
  background: #ffffff;
  list-style: none;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
.user .control-list a {
  top: 0px;
  color: #434343;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 20px 6px 20px;
  display: block;
  text-align: left;
}
.user .control-list a i {
  font-size: 16px;
  line-height: 24px;
  width: 25px;
}
.user .control-list a:hover {
  color: #304ffe;
}
.user .name {
  color: #434343;
  margin: 0px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user .name a {
  color: #434343;
}
@media (min-width: 1025px) {
  .user .name a:hover {
    color: #304ffe;
  }
}
.user .position {
  color: #aab2bd;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}
.user .status {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  background: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.user .status:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 8px;
  height: 8px;
  background: #00bf4f;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
5. Navigation
*/
.navigation .title {
  padding: 12px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #212121;
  background: #e6e9ed;
}
.navigation .menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navigation .menu a {
  display: block;
  color: #434a54;
}
@media (min-width: 1025px) {
  .navigation .menu a:hover {
    color: #304ffe;
  }
  .navigation .menu a:hover i {
    color: #304ffe;
  }
}
.navigation .menu a.active,
.navigation .menu a.current {
  color: #304ffe;
}
.navigation .menu a i {
  color: #212121;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li > a {
  position: relative;
  padding: 14px 30px 14px 53px;
  margin: 0px;
}
.navigation .menu > li > a span {
  vertical-align: middle;
  font-size: 14px;
}
.navigation .menu > li > a .menu-arrow {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li.active {
  background: rgba(0, 0, 0, 0.05);
}
.navigation .menu > li.active > a {
  background: #e6e9ed;
}
.navigation .menu > li.active > a .menu-arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}
.navigation .menu > li.current > a {
  background: #304ffe;
  color: #ffffff;
}
.navigation .menu > li.current > a > i {
  color: #ffffff;
}
.navigation .menu > li.current .current > a {
  color: #304ffe;
}
.navigation .menu > li.current .sub-menu {
  display: block;
}
.navigation .menu .sub-menu {
  display: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navigation .menu .sub-menu a {
  padding: 10px 20px 10px 53px;
}
.navigation .menu .menu-icon {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  margin-left: 0;
  width: 50px;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  vertical-align: middle;
}
.navigation .menu .menu-icon.mdi {
  font-size: 20px;
}
.navigation .menu .notice {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 12px;
}
.navigation .menu .waves-ripple {
  background: -webkit-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: -o-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: -moz-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
}
@media (min-width: 800px) {
  .main-menu {
    transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
  }
  .header .logo {
    transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
  }
  .menu-active .header {
    width: 75px;
    height: 0;
    padding: 0;
  }
  .menu-active .header .logo {
    position: fixed;
    z-index: 988;
    width: 75px;
    height: 50px;
    font-size: 0;
    line-height: 50px;
    color: #ffffff;
    background: transparent;
  }
  .menu-active .header .logo::first-letter {
    font-size: 28px;
  }
  .menu-active .header .logo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 50px;
    background: #ffffff;
    z-index: -2;
  }
  .menu-active .header .logo:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 7px;
    width: 35px;
    height: 35px;
    background: #434343;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .menu-active .header .logo .ico {
    margin-right: 0;
    line-height: 44px;
    display: inline-block;
    top: 0;
  }
  .menu-active .main-menu {
    position: absolute;
    width: 75px;
    padding-top: 50px;
  }
  .menu-active .fixed-navbar {
    left: 75px;
    z-index: 40;
  }
  .menu-active .main-content {
    margin-left: 95px;
  }
  .menu-active .user {
    display: none;
  }
  .menu-active .navigation .title {
    display: none;
  }
  .menu-active .navigation .menu > li {
    position: relative;
  }
  .menu-active .navigation .menu > li > a {
    height: 48px;
    padding: 10px 30px;
    transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
  }
  .menu-active .navigation .menu > li > a span {
    display: none;
    font-size: 14px;
    line-height: 30px;
  }
  .menu-active .navigation .menu > li > a .menu-arrow,
  .menu-active .navigation .menu > li > a .notice {
    display: none;
  }
  .menu-active .navigation .menu > li:hover > a {
    width: 260px;
    background: #304ffe;
    color: #ffffff;
    padding-left: 90px;
  }
  .menu-active .navigation .menu > li:hover > a i {
    color: #ffffff;
  }
  .menu-active .navigation .menu > li:hover > a span {
    display: block;
  }
  .menu-active .navigation .menu > li:hover > a .notice {
    display: none;
  }
  .menu-active .navigation .menu > li:hover .sub-menu {
    display: block!important;
  }
  .menu-active .navigation .menu .menu-icon {
    font-size: 24px;
    width: 75px;
  }
  .menu-active .navigation .menu .menu-icon.mdi {
    font-size: 26px;
  }
  .menu-active .navigation .menu .sub-menu {
    display: none!important;
    position: absolute;
    top: 100%;
    left: 75px;
    width: 185px;
  }
  .menu-active .navigation .menu .sub-menu a {
    background: #e6e9ed;
    padding: 10px 15px;
  }
  .menu-active .mCSB_container,
  .menu-active .mCustomScrollBox,
  .menu-active .content {
    overflow: visible;
  }
  .menu-active body {
    height: auto;
  }
}

.on-active {
  background: #1b1b1b;
}