/* Coded By Rohith */
.dash-icons {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: -30px;
  padding-right: 10px;
}

.sidebar-items {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4em;
}

.sidebar-items i {
  padding: 20px 20px 20px 20px;
}

.sidebar-items span {
  font-size: 16px !important;
}



/* Sidebar Logo Section */
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  /*color: #434343;*/
  /*background: #ffffff;*/
  font-weight: 500;
}
.header .logo .ico {
  margin-right: 5px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.img_logo {
  position: absolute;
  top: 15%;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.menu-active .img_logo {
  position: fixed;
  top: 4px;
  border-radius: 0;
  transform: translateY(5px);
  left: 20px;
}

/* Sidebar Menu */
.navigation .title {
  padding: 12px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #212121;
  background: #e6e9ed;
}
.navigation .menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navigation .menu a {
  display: block;
  color: #434a54;
}
@media (min-width: 1025px) {
  .navigation .menu a:hover {
    color: #304ffe;
  }
  .navigation .menu a:hover i {
    /*color: #304ffe;*/
  }
}
.navigation .menu a.active,
.navigation .menu a.current {
  color: #304ffe;
}
.navigation .menu a i {
  /*color: #212121;*/
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
/*.navigation .menu > li > a {*/
/*  position: relative;*/
/*  padding: 14px 30px 14px 53px;*/
/*  margin: 0px;*/
/*}*/
/*.navigation .menu > li > a span {*/
/*  vertical-align: middle;*/
/*  font-size: 16px;*/
/*  color: #fff;*/
/*}*/
.navigation .menu > li > a .menu-arrow {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.navigation .menu > li.active {
  background: rgba(0, 0, 0, 0.05);
}
.navigation .menu > li.active > a {
  background: #e6e9ed;
}
.navigation .menu > li.active > a .menu-arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}
.navigation .menu > li.current > a {
  background: #304ffe;
  color: #ffffff;
}
.navigation .menu > li.current > a > i {
  color: #ffffff;
}
.navigation .menu > li.current .current > a {
  color: #304ffe;
}
.navigation .menu > li.current .sub-menu {
  display: block;
}
.navigation .menu .sub-menu {
  display: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navigation .menu .sub-menu a {
  padding: 10px 20px 10px 53px;
}
.navigation .menu .menu-icon {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  margin-left: 0;
  width: 50px;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  vertical-align: middle;
}
.navigation .menu .menu-icon.mdi {
  font-size: 20px;
}
.navigation .menu .notice {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 12px;
}
.navigation .menu .waves-ripple {
  background: -webkit-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: -o-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: -moz-radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
  background: radial-gradient(rgba(113, 182, 249, 0.2) 0, rgba(113, 182, 249, 0.3) 40%, rgba(113, 182, 249, 0.4) 50%, rgba(113, 182, 249, 0.5) 60%, rgba(113, 182, 249, 0) 70%);
}


.main-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30;
  width: 260px;
  height: 100%;
  padding-top: 50px;
  /*background: #ffffff;*/
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.main-menu .content {
  height: 100%;
  overflow: auto;
}
.main-menu .button-close {
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 16px;
  outline: none;
  background: none;
  border: none;
  font-size: 20px;
  color: #ffffff;
}
.main-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #aab2bd;
}
.main-menu:hover .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.main-content {
  position: relative;
  z-index: 10;
  margin-left: 280px;
  margin-right: 20px;
  padding-top: 70px;
}

@media (max-width: 800px) {
  .main-menu {
    transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
  }
  .header .logo {
    transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
  }
  .menu-active .header {
    width: 75px;
    height: 0;
    padding: 0;
  }
  .menu-active .header .logo {
    position: fixed;
    /*z-index: 988;*/
    width: 75px;
    height: 50px;
    font-size: 0;
    line-height: 50px;
    color: #ffffff;
    background: transparent;
  }
  .menu-active .header .logo::first-letter {
    font-size: 28px;
  }
  .menu-active .header .logo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 50px;
    /*background: #ffffff;*/
    z-index: -2;
  }
  .menu-active .header .logo:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 7px;
    width: 35px;
    height: 35px;
    background: #434343;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .menu-active .header .logo .ico {
    margin-right: 0;
    line-height: 44px;
    display: inline-block;
    top: 0;
  }
  .menu-active .main-menu {
    position: absolute;
    width: 75px;
    padding-top: 50px;
  }
  .menu-active .fixed-navbar {
    left: 75px;
    z-index: 40;
  }
  .menu-active .main-content {
    margin-left: 95px;
  }
  .menu-active .user {
    display: none;
  }
  .menu-active .navigation .title {
    display: none;
  }
  .menu-active .navigation .menu > li {
    position: relative;
  }
  .menu-active .navigation .menu > li > a {
    height: 48px;
    /* padding: 10px 30px; */
    padding-left: 10px;
    transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
  }
  .menu-active .navigation .menu > li > a span {
    display: none;
    font-size: 14px;
    line-height: 30px;
  }
  .menu-active .navigation .menu > li > a .menu-arrow,
  .menu-active .navigation .menu > li > a .notice {
    display: none;
  }
  .menu-active .navigation .menu > li:hover > a {
    width: 260px;
    background: #304ffe;
    color: #ffffff;
    padding-left: 90px;
  }
  .menu-active .navigation .menu > li:hover > a i {
    color: #ffffff;
  }
  .menu-active .navigation .menu > li:hover > a span {
    display: block;
  }
  .menu-active .navigation .menu > li:hover > a .notice {
    display: none;
  }
  .menu-active .navigation .menu > li:hover .sub-menu {
    display: block!important;
  }
  .menu-active .navigation .menu .menu-icon {
    font-size: 24px;
    width: 75px;
  }
  .menu-active .navigation .menu .menu-icon.mdi {
    font-size: 26px;
  }
  .menu-active .navigation .menu .sub-menu {
    display: none!important;
    position: absolute;
    top: 100%;
    left: 75px;
    width: 185px;
  }
  .menu-active .navigation .menu .sub-menu a {
    background: #e6e9ed;
    padding: 10px 15px;
  }
  .menu-active .mCSB_container,
  .menu-active .mCustomScrollBox,
  .menu-active .content {
    overflow: visible;
  }
  .menu-active body {
    height: auto;
  }
}






.on-active {
  background: #1b1b1b;
}