@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700';

/*Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Give a padding to overcome the top margin */
.nav-padding {
    padding-top: 56px;
}

/* Change color of the form focus */
.form-control:focus {
    border-color: #343a40;
    box-shadow: 0 0 0 0.2rem #2a3035;
}
