@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warn-disable {
    display: none !important;
}

.warn-box_pos {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.warning-box {
    width: 350px;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    border-radius: 10px;
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.warning-box_text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


.warning-box_text p {
    color: #93959a;
    margin-bottom: 0rem !important;
}

.warning-box span{
    background-color: #f0a92e;
    width: 6px;
    border-radius: 16px;
    height: 95%;
}

.warning-box img {
    width: 45px;
    height: 45px;
}

.warning-box_close img {
    width: 13px;
    height: 13px;
}