{% load static %}

<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Sharun E Rajeev, India">
  <title>ICREP Student Portal</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-bg-dark">
  <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto d-flex justify-content-center align-items-center gap-3 h-auto w-auto">
      <img class="h-75" src="https://icrep.cusat.ac.in/static/media/cusat-logo.f69105a0.svg" />
      <div>
        <h4>Prof N R Madhava Menon Interdisciplinary Centre for Research Ethics and Protocols </h4>
        <i>'An Inter University Centre of Excellence'</i>
      </div>
    </header>

    <main class="">
      <h1>Welcome to ICREP Student Management Portal</h1>
      <div class="d-flex justify-content-center gap-2 mt-3">
        <a href="/owner/adminlogin" class="btn btn-lg btn-secondary fw-bold bg-white">Admin Login</a>
        <a href="/user/register" class="btn btn-lg btn-secondary fw-bold bg-white">User Registration</a>
      </div>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Copyright &copy; 2022</p>
    </footer>
  </div>

</body>

</html>