{% extends 'base.html' %}
{% load static %}

{% block title %}Batches Edit{% endblock %}

{% block styles %}
    <link href="{% static 'css/register_form.css' %}" rel="stylesheet">
    <link href="{% static 'css/mark_upload-table.css' %}" rel="stylesheet">
    <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
    <link href="{% static 'css/mark_upload.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include  'reusable/navbar.html' %}
{% include  'reusable/sidebar.html' %}
<!--Coded by Hana-->

<div id="wrapper">
    <div class="main-content">
         {% if message %}
        <div class="alert alert-success " id="messages" role="alert">
            {{message}}
        </div>
        {% endif %}


        <div class="table-parent">

             <h3>Add New Batch</h3>
            <br>

            <form method="post" action="/owner/batches_edit">
                {% csrf_token %}
                <div class="main">
                    <div class="row row-space">
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Month</label>
                                <select name="month" class="input--style-4 input_default" id="month" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option value="Jan">January</option>
                                    <option value="Feb">February</option>
                                    <option value="Mar">March</option>
                                    <option value="Apr">April</option>
                                    <option value="May">May</option>
                                    <option value="Jun">June</option>
                                    <option value="Jul">July</option>
                                    <option value="Aug">August</option>
                                    <option value="Sept">September</option>
                                    <option value="Oct">October</option>
                                    <option value="Nov">November</option>
                                    <option value="Dec">December</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Year</label>
                                <input type="number" class="input--style-4 input_default" id="year" name="year" required>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Commencement Date</label>
                                <input type="date" class="input--style-4 input_default" id="date" name="commencedate" required>
                            </div>
                        </div>

                        <div class="col-3" style="align-self: center;">
                            <button id="butn" class="btn btn--radius-2 btn-sm btn--blue" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <br>

            <h3> Edit Batch Details</h3>
            <br>
            <table>

                <thead>
                    <tr>
                        <th>Sl No</th>
                         <th>Batch No</th>
                        <th>Month</th>

                        <th>Year</th>
                        <th>Commencement Date</th>
                        <th>Active</th>
<!--                        <th>Delete</th>-->
                    </tr>
                </thead>
                <tbody>

                {% for batch in batches %}
                    <tr class="active">
                        <form method="post" action="/owner/batch_update/{{ batch.id }}">
                            {% csrf_token %}
                            <td>
                                {{ forloop.counter }}
                            </td>

                              <td>
                                  <h5>{{ batch.Batch_Name }}</h5>
                            </td>

                            <td>
                                <input value="{{ batch.Month }}" class="input--style-4 input_default" type="text" name="month" required>
                            </td>


                            <td>
                                <input value="{{ batch.Year }}" class="input--style-4 input_default" type="number" name="year" required>
                            </td>



                            <td>
                                <input value="{{ batch.CommenceDate|date:'Y-m-d' }}" class="input--style-4 input_default" type="date" name="commencedate" required>
                            </td>
                            <td>



                                <select name="active" class="input--style-4 input_default" required>

                                    {% if batch.Active == True %}
                                <option selected disabled value="{{batch.Active}}">Active</option>
                                {% else %}
                                <option selected disabled value="{{batch.Active}}">Closed</option>
                                {% endif %}
                                    <option value="True">Active</option>
                                    <option value="False">Close</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success btn-sm" role="button">Update</button>
                            </td>


<!--                            <td>-->
<!--                                <a class="btn btn-danger btn-sm" href="/owner/subject_delete/{{ subject.id }}" role="button">Delete</a>-->
<!--                            </td>-->
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('#messages').fadeOut('slow');
        }, 2000); // <-- time in milliseconds, 1000 =  1 sec
    });
</script>
<script>
    let html_tag = document.getElementsByTagName('html')
    let button_tag = document.getElementById("nav--btn")

    button_tag.onclick = function (e) {
        e.preventDefault()
        html_tag[0].classList.toggle("menu-active")
    }
</script>
{% endblock %}













