{% extends 'base.html' %}
{% block title %}
    Admin Dashboard
{% endblock title %}
{% block body %}
    {% include 'reusable/sidebar.html' %}
    {% include 'reusable/navbar.html' %}
    <div class="wrapper">
        <div class="main-content">
            <h1>Welcome to Admin!</h1>
            <hr>
            <div class="row g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Total Applicants</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="card-text">{{ totalApplicants }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Total Candidates</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="card-text">{{ totalCandidates }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Total Subjects</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="card-text">{{ totalCourses }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>
    let html_tag = document.getElementsByTagName('html')
    let button_tag = document.getElementById("nav--btn")

    button_tag.onclick = function (e) {
        e.preventDefault()
        html_tag[0].classList.toggle("menu-active")
    }
    </script>
{% endblock %}
