<!--Coded By Akhila (user details verification)-->

<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <title>Student Payment Verification</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>


<style>
#hr-tag1{
   height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
#hr-tag2{
   height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
</style>


<body>
  <div class="content vh-100 " >
    {% include 'reusable/sidebar.html' %}
    {% include 'reusable/navbar.html' %}


<!--      details-->
      <section style=" margin-left: 17rem; ">
  <div class="container " style="margin-top: 4rem;">
<div class="p-t-15">
                    {% include 'reusable/back_button.html' %}
             </div>

<form action="/owner/edit_form/{{ person_details.Register_Number}}" class="was-validated" method="post" enctype = "multipart/form-data">
      {% csrf_token %}
    <div class="row">

      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
             <h2 class="d-flex justify-content-center">Personal Information</h2>
            <hr id="hr-tag1">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9">
                <input id="name" value="{{ person_details.ApplicationId.Name }}" class="input--style-4 input_default" type="text" name="Name">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9">
                <input id="email" value="{{ person_details.ApplicationId.Email }}" class="input--style-4 input_default" type="email" name="Email">
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">DOB</h6>
              </div>
              <div class="col-sm-9">

                <input id="dob" value="{{ person_details.ApplicationId.Dob|date:'Y-m-d' }}"  class="input--style-4 input_default" type="date" name="Dob" >
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Gender</h6>
              </div>
              <div class="col-sm-9">

                <input id="gender" value="{{ person_details.ApplicationId.Gender }}" class="input--style-4 input_default" type="text" name="Gender">


              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9">

                <input id="mob" value="{{ person_details.ApplicationId.Mob }}" class="input--style-4 input_default" type="tel" name="Mob">

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9">
                <input id="address" value="{{ person_details.ApplicationId.Address }}" class="input--style-4 input_default" type="text" name="Address">

              </div>
            </div>
          </div>
        </div>
        <button  class="btn btn--radius-2 btn--blue w-100" type="submit">Submit</button>
      </div>



      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="d-flex justify-content-center">Academic Information</h2>
            <hr id="hr-tag2">
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Course Name</h6>
              </div>
              <div class="row row-space">
                     <div class="col-2">

            <select name="Subject" class="input--style-4 input_default" id="inputGroupSelect01">
              <option selected>{{ person_details.SubjectId.SubjectName }}</option>
                {% for subject in subjects %}
                    <option value="{{subject.SubjectName}}">{{subject.SubjectName}}</option>

                {% endfor %}
            </select>
                     </div>
                     </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Phd Register Number</h6>
              </div>
              <div class="col-sm-6">

                <input id="phdreg" value="{{ person_details.ApplicationId.Phd_Reg }}" class="input--style-4 input_default" type="number" name="Phd_Reg">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Phd Joining Date</h6>
              </div>
              <div class="col-sm-6">
                <input id="phdjoiningdate" value="{{ person_details.ApplicationId.Phd_Joining_Date|date:'Y-m-d' }}" class="input--style-4 input_default" type="date" name="Phd_Joining_Date">

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Research Topic</h6>
              </div>
              <div class="col-sm-6">

                <input id="researchtopic" value="{{ person_details.ApplicationId.Research_Topic }}" class="input--style-4 input_default" type="text" name="Research_Topic">


              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Research Guide</h6>
              </div>
              <div class="col-sm-6">

                <input id="researchguide" value="{{ person_details.ApplicationId.Research_Guide }}" class="input--style-4 input_default" type="text" name="Research_Guide">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Contact Of Guide(Email)</h6>
              </div>
              <div class="col-sm-6">

                <input id="guidemail" value="{{ person_details.ApplicationId.Guide_Mail }}" class="input--style-4 input_default" type="email" name="Guide_Mail">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Contact Of Guide(Phone Number)</h6>
              </div>
              <div class="col-sm-6">

                <input id="guidephone" value="{{ person_details.ApplicationId.Guide_Phone }}" class="input--style-4 input_default" type="tel" name="Guide_Phone">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
  </div>


<!--        <button  class="btn btn&#45;&#45;radius-2 btn&#45;&#45;blue" type="submit">Submit</button>-->
<!--details over-->


<!--      <div class=" d-grid gap-2 col-4 mx-auto ">-->

<!--       {% if pay_val == 0 %}-->
<!--            <td><a class="btn btn-warning w-100" href="#" role="button">No file</a></td>-->
<!--            {% elif pay_val == 1 %}-->
<!--            <td><a class="btn btn-outline-info w-100" href="{{ person_details.PaymentDetails.url}}" role="button">View Reciept</a></td>-->



<!--        {% if person_details.PaymentStatus == True %}-->
<!--        <a href="#" class=" btn btn-success">Verified & Accepted</a>-->
<!--        {% elif person_details.PaymentStatus == False %}-->
<!--        <a href="#" class=" btn btn-danger"> Not Verified(Incomplete)</a>-->
<!--        {% else %}-->
<!--        <div class="d-grid   d-md-flex justify-content-evenly">-->


<!--        <a href="/owner/verified/{{person_details.id}}" ><button type="button" class="btn btn-outline-info ">Verify</button></a>-->
<!--        <a href="/owner/denial/{{person_details.id}}" ><button type="button" class="btn btn-outline-info">Denial</button></a>-->
<!-- </div>-->
<!--        {% endif %}-->
<!--{% endif %}-->






<!--      </div>-->
    </section>

  </div>
  <script>
    let html_tag = document.getElementsByTagName('html')
    let button_tag = document.getElementById("nav--btn")

    button_tag.onclick = function (e) {
        e.preventDefault()
        html_tag[0].classList.toggle("menu-active")
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

