{% extends 'base.html' %}
{% load static %}
{% block title %}
  Admin Dashboard
{% endblock %}

{% block styles %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="{% static 'css/individual.css' %}" rel="stylesheet">
  <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
<!--  <link href="{% static 'css/materialdesignicons.css' %}" rel="stylesheet">-->
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
  <link href="{% static 'css/waves.css' %}" rel="stylesheet">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

  {% include 'reusable/sidebar.html'%}
{% include 'reusable/navbar.html' %}

<div id="wrapper">
	<div class="main-content">
		<div class="ind-header">
			<figure class="ind-header_pic">
				<img src="{% static 'assets/person_image.png' %}">
			</figure>
			<div class="ind-header_approve">
				<h4>Status</h4>
				{% if individual.Eligibility == True %}
					<a href="#" class=" btn btn-outline-info color-green">Selected</a>
        		{% elif user.Eligibility == False %}
        			<a href="#" class="btn btn-outline-info color-blue">Rejected</a>
        		{% else %}
  					<a href="/owner/select/{{ individual.id }}" ><button type="button" class="btn btn-outline-info">Select</button></a>
        			<a href="/owner/reject/{{ individual.id }}" ><button type="button" class="btn btn-outline-info">Reject</button></a>
        		{% endif %}

			</div>
		</div>
		<div class="row small-spacing">
			<div class="col-md-9 col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="box-content card">
							<h4 class="box-title"><i class="fa fa-user ico"></i>Personal Information</h4>
							<div class="card-content">
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Name:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{ individual.Name }}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Email:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{ individual.Email }}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Age</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{ individual.Age }}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>DOB:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{ individual.Dob }}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Gender:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{ individual.Gender }}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Mobile:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{ individual.Mob }}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Address:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{ individual.Address }}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
								</div>
								<!-- /.row -->
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.box-content card -->
					</div>
					<div class="col-xs-12">
						<div class="box-content card">
							<h4 class="box-title"><i class="fa fa-user ico"></i>Educational Information</h4>
							<div class="card-content">
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Department:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.Department}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>University:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.University}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Phd Register Number:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.Phd_Reg}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Phd Joining Date:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.Department}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Research Topic:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.Research_Topic}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Research Guide:</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.Research_Guide}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Contact of Guide (Email):</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.Guide_Mail}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-5"><label>Contact of Guide (Phone):</label></div>
											<!-- /.col-xs-5 -->
											<div class="col-xs-7">{{individual.Guide_Phone}}</div>
											<!-- /.col-xs-7 -->
										</div>
										<!-- /.row -->
									</div>
								</div>
								<!-- /.row -->
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.box-content card -->
					</div>
				</div>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
  {% endblock %}

{% block scripts %}
		<script>
			let html_tag = document.getElementsByTagName('html')
			let button_tag = document.getElementById("nav--btn")

			button_tag.onclick = function(e) {
				e.preventDefault()
				html_tag[0].classList.toggle("menu-active")
			}
		</script>
{% endblock %}