{% extends 'base.html' %}
{% load static %}
{% block title %}
  Admin Dashboard
{% endblock %}

{% block styles %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="{% static 'css/individual.css' %}" rel="stylesheet">
  <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/materialdesignicons.css' %}" rel="stylesheet">
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
  <link href="{% static 'css/waves.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

  {% include 'reusable/sidebar.html'%}
{% include 'reusable/navbar.html' %}

  <div class="individual-main">
    <div class="sidebar-temp">
      <p>Sidebar</p>
  </div>
    <div class="individual_div-parent">
      <h2>Personal Information</h2>
      <div class="ind-personal">
        <div class="ind-personal_text">
          <table>
            <tr>
              <td>Name</td>
              <td>:</td>
              <td>{{ individual.Name }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>:</td>
              <td>{{ individual.Email }}</td>
            </tr>
            <tr>
              <td>Age</td>
              <td>:</td>
              <td>{{ individual.Age }}</td>
            </tr>
            <tr>
              <td>DOB</td>
              <td>:</td>
              <td>{{ individual.Dob }}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>:</td>
              <td>{{ individual.Gender }}</td>
            </tr>
            <tr>
              <td>Mobile No</td>
              <td>:</td>
              <td>{{ individual.Mob }}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>:</td>
              <td>{{ individual.Address }}</td>
            </tr>
          </table>
        </div>
        <figure class="ind-personal_fig">
          <img src="{% static 'assets/person_image.png' %}" alt="">
        </figure>
      </div>
      <h2>Academic Information</h2>
      <div class="ind-academic">
          <table>
            <tr>
              <td>Department</td>
              <td>:</td>
              <td>{{ individual.Department }}</td>
            </tr>
            <tr>
              <td>University</td>
              <td>:</td>
              <td>{{ individual.University }}</td>
            </tr>
            <tr>
              <td>Phd Register Number</td>
              <td>:</td>
              <td>{{ individual.Phd_Reg }}</td>
            </tr>
            <tr>
              <td>Phd Joining Date</td>
              <td>:</td>
              <td>{{ individual.Phd_Joining_Date }}</td>
            </tr>
            <tr>
              <td>Research Topic</td>
              <td>:</td>
              <td>{{ individual.Research_Topic }}</td>
            </tr>
            <tr>
              <td>Research Guide</td>
              <td>:</td>
              <td>{{ individual.Research_Guide }}</td>
            </tr>
            <tr>
              <td>Contact Of Guide</td>
              <td>:</td>
              <td>{{ individual.Guide_Mail }}</td>
            </tr>
          </table>
      </div>
      <div class="ind-verify">

        {% if individual.Eligibility == True %}
        <a href="#" class=" btn btn-outline-info">Selected </a>
        {% elif user.Eligibility == False %}
        <a href="#" class="btn btn-outline-info">Rejected </a>
        {% else %}
  <a href="/owner/select/{{ individual.id }}" ><button type="button" class="btn btn-outline-info">Select</button></a>
        <a href="/owner/reject/{{ individual.id }}" ><button type="button" class="btn btn-outline-info">Reject</button></a>

        {% endif %}

      </div>
    </div>

  </div>
  {% endblock %}

  {% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <script src="{% static 'js/plugins/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.min.js' %}"></script>
  <script src="{% static 'js/plugins/main.js' %}"></script>
  <script src="{% static 'js/plugins/nprogress.js' %}"></script>
    <script src="{% static 'js/plugins/waves.js' %}"></script>
  {% endblock %}
