{% extends 'base.html' %}
{% load static %}
{% block title %}
Student Details
{% endblock %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link href="{% static 'css/individual.css' %}" rel="stylesheet">
<link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}

{% include 'reusable/sidebar.html'%}
{% include 'reusable/navbar.html' %}

<div id="wrapper">
    <div class="main-content">
        <div class="p-t-15">
            {% include 'reusable/back_button.html' %}

        </div>

        {% for user in users %}
        {% if user.Eligibility == True %}
        {% if individual.Eligibility == null %}
        {% if individual.Email == user.Email %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div class="d-flex flex-row align-items-center">
                <div>Email already exist</div>
                 <div class="px-3"><a href="/owner/approve/{{user.id}}" class=" btn btn-outline-warning ">Go to Existing Profile</a></div>
            </div>

        </div>
        <!--		        <span class="alert alert-warning py-3">Email already exist  </span>-->
        <!--		         <a href="/owner/approve/{{user.id}}" class=" btn btn-outline-warning btn-sm">Go to Existing Profile</a>-->
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        <div class="ind-header">
            <figure class="ind-header_pic">
                {% if candidate.Photo %}
                <img src="{{candidate.Photo.url}}">
                {% else %}
                <img src="{% static 'assets/person_image.png' %}">
                {% endif %}
            </figure>
            <div>
                <div class="ind-header_approve">
                    <h4>Status: </h4>
                    {% if individual.Eligibility == True %}
                    <span style="color: green;">Selected</span>
                    {% elif user.Eligibility == False %}
                    <span style="color: red;">Rejected</span>
                    {% else %}
                    <span style="color: cyan;">Not Verified</span>
                    {% endif %}


                </div>
                {% if individual.Eligibility == None %}
                <div class="ind-header-btns">
                    <a href="/owner/select/{{ individual.id }}">
                        <button type="button" class="btn btn-outline-info">Select</button>
                    </a>
                    <a href="/owner/reject/{{ individual.id }}">
                        <button type="button" class="btn btn-outline-info">Reject</button>
                    </a>
                </div>
                {% endif %}

            </div>

        </div>
        <div class="row small-spacing" style="width:100%;">
            <div class="col-md-9 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box-content card">
                            <h4 class="box-title"><i class="fa fa-user ico"></i>Personal Information</h4>
                            <div class="card-content">
                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Name: </span>
                                        <span>{{ individual.Name }}</span>
                                    </div>



                                </div>

                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Dob: </span>
                                        <span>{{ individual.Dob }}</span>
                                    </div>

                                    <div class="ind_main-col">
                                        <span>Gender: </span>
                                        <span>{{ individual.Gender }}</span>
                                    </div>

                                </div>

                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Email: </span>
                                        <span>{{ individual.Email }}</span>
                                    </div>

                                    <div class="ind_main-col">
                                        <span>Mob: </span>
                                        <span>{{ individual.Mob }}</span>
                                    </div>

                                </div>

                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Address: </span>
                                        <span>{{ individual.Address }}</span>
                                    </div>

                                </div>

                            </div>
                            <!-- /.card-content -->
                        </div>
                        <!-- /.box-content card -->
                    </div>

                    <div class="col-xs-12">
                        <div class="box-content card">
                            <h4 class="box-title"><i class="fa fa-trophy ico"></i>Educational Information</h4>
                            <div class="card-content">

                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Institution : </span>
                                        <span>{{ individual.Institution }}</span>
                                    </div>

                                    <div class="ind_main-col">
                                        <span>University: </span>
                                        <span>{{ individual.University }}</span>
                                    </div>

                                </div>

                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>PhD Register No: </span>
                                        <span>{{ individual.Phd_Reg }}</span>
                                    </div>

                                    <div class="ind_main-col">
                                        <span>PhD Joining Date: </span>
                                        <span>{{ individual.Phd_Joining_Date }}</span>
                                    </div>

                                </div>

                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Research Guide: </span>
                                        <span>{{ individual.Research_Guide }}</span>
                                    </div>

                                    <div class="ind_main-col">
                                        <span>Research Topic: </span>
                                        <span>{{ individual.Research_Topic }}</span>
                                    </div>

                                </div>

                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Contact of Guide (Email): </span>
                                        <span>{{ individual.Guide_Mail }}</span>
                                    </div>

                                    <div class="ind_main-col">
                                        <span>Contact of Guide (Phone): </span>
                                        <span>{{ individual.Guide_Phone }}</span>
                                    </div>



                                </div>
                                <div class="ind_main-row">
                                    <div class="ind_main-col">
                                        <span>Batch : </span>
                                        <span>{{ individual.Batch.Batch_Name }}</span>
                                    </div>
                                      <div class="ind_main-col">
                                        <span>Cusatian: </span>
                                        {% if individual.Cusatian == True %}
                            <p class="badge rounded-pill bg-success " style="font-size:1rem;">Yes <i class="fa fa-check"></i></p>
                                          <a class="btn btn-outline-info w-100" href="{{ individual.Cusat_Id.url}}" role="button">View
                                CusatId</a>
                            {% else %}
                            <p class="badge rounded-pill bg-warning text-dark" style="font-size:1rem;"> No <i class="fa fa-times"></i></p>
                               {% endif %}
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-content -->
                        </div>
                        <!-- /.box-content card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-content -->
</div><!--/#wrapper -->
{% endblock %}

{% block scripts %}
<script>
    let html_tag = document.getElementsByTagName('html')
    let button_tag = document.getElementById("nav--btn")

    button_tag.onclick = function (e) {
        e.preventDefault()
        html_tag[0].classList.toggle("menu-active")
    }
</script>
{% endblock %}