{% extends 'base.html' %}
{% load static %}

{% block title %} Approval {% endblock %}

{% block styles %}

</style>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link href="{% static 'css/individual.css' %}" rel="stylesheet">
  <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
<!--  <link href="{% static 'css/materialdesignicons.css' %}" rel="stylesheet">-->
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
  <link href="{% static 'css/waves.css' %}" rel="stylesheet">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
{% include 'reusable/sidebar.html' %}
{% include 'reusable/navbar.html' %}

<div id="wrapper">

	<div class="main-content">

        <h2>{{user.ApplicationId.Name}}'s Marksheet</h2>

      	<form method="post" action="{{ user.id }}">

            {% csrf_token %}

        <label for="subject">Subject:</label><br>
            <select name="subject" class="custom-select" id="inputGroupSelect01">

      <option selected>Choose...</option>


      {% for subject in subjects %}
      <option value="{{subject.SubjectName}}">{{subject.SubjectName}}</option>


                {% endfor %}

    </select>
            <br>
  <label for="attendance">Attendance:  </label><br>
  <input type="text" id="attendance" name="attendance"><br>
      <label for="assignment1">Assignment 1:</label><br>
  <input type="text" id="assignment1" name="assignment1" ><br>
    <label for="assignment2">Assignment 2:</label><br>
  <input type="text" id="assignment2" name="assignment2" ><br>
      <label for="gd">GD:</label><br>
  <input type="text" id="gd" name="gd" ><br>
<label for="cp">CP:</label><br>
  <input type="text" id="cp" name="cp" ><br>


  <input type="submit" value="Submit">
    </form>

    </div>



    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}


<!--coded by devaprasad-->
<!--message for front-end developers:-->
<!--*All fields must be required field-->
<!--* Show max attendance-->


















