{% extends 'base.html' %}
{% load static %}

{% block title %} Approval {% endblock %}

{% block styles %}
  <!-- CSS only -->
  <link href="{% static 'css/individual.css' %}" rel="stylesheet">
  <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
  <link href="{% static 'css/mark_upload.css' %}" rel="stylesheet">
  <link href="{% static 'css/mark_upload-table.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
{% include 'reusable/sidebar.html' %}
{% include 'reusable/navbar.html' %}



<div id="wrapper">
	<div class="main-content">
        <h3></h3>
         <div class="p-t-15">
                   {% include 'reusable/back_button.html' %}
                </div>

        <div class="d-flex justify-content-center align-items-center" style="margin-top: 3rem;">
            <div class="col-md-6">
                <div class="search">
                   <form action="" method="POST">
                     {% csrf_token %}
                    <img class="fa-search" src="{% static 'assets/search.svg' %}" alt=""/>
                    <input name="name" type="text" class="form-control" placeholder="Search for Applicants" />
                    <button class="btn btn-secondary" type="submit">Search</button>
                   </form>
                </div>

            </div>
        </div>

        <div class="table-parent">
            <table>
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Register No</th>
                        <th>Marks</th>
                        <th>Upload</th>
                        <th>Edit</th>

                    </tr>
                </thead>
                <tbody>

                {% for user in users %}
                {% if user.Dropout == False %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.ApplicationId.Name }}</td>
                        <td>{{ user.RegNumber }}</td>
                        <td>
                            {% for mark in marks %}
                                {% if mark.StudentId == user %}

<!--                                    <p class="num">Attendance :{{mark.Attendance}}</p>-->
<!--                                    <p class="num">Assinment1 :{{mark.Assignment1Mark}}</p>-->
<!--                                    <p class="num">Assinment2 :{{mark.Assignment2Mark}}</p>-->
<!--                                    <p class="num">Gd Mark    :{{mark.GdMark}}</p>-->
<!--                                    <p class="num">Cp Mark    :{{mark.CpMark}}</p>-->
                                    {{mark.Total}}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/owner/mark_upload/{{ user.Register_Number }}" class="btn btn-outline-success btn-sm">Upload </a>
                        </td>
                        <td>
                            <a href="/owner/mark_edit/{{ user.Register_Number }}" class="btn btn-outline-success btn-sm">Edit</a>
                        </td>

                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let html_tag = document.getElementsByTagName('html')
    let button_tag = document.getElementById("nav--btn")

    button_tag.onclick = function (e) {
        e.preventDefault()
        html_tag[0].classList.toggle("menu-active")
    }
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}