{% extends 'base.html' %}
{% load static %}

{% block title %} Approval {% endblock %}

{% block styles %}

</style>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link href="{% static 'css/register_form.css' %}" rel="stylesheet">
  <link href="{% static 'css/mark_upload.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
{% include 'reusable/sidebar.html' %}
{% include 'reusable/navbar.html' %}

<div id="wrapper">
	<div class="main-content">

      <div class="d-flex flex-column flex-grow-1 p-4" style="height: 100vh;">
            <h1>Marks</h1>
            <hr>



            <table class="table table-bordered">
    <thead>

    <tr>


        <th>Course Name</th>
        <th>No: of Attendance</th>
        <th>% of Attendance</th>
        <th>Mark for Attendance</th>

        <th>Assignment1</th>
        <th>Assignment2</th>
        <th>Total mark for Assignment</th>
        <th>Group Discussions</th>
        <th>Class participations</th>
        <th style="min-width: 40px !important;">Total</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
        <tbody>

        {% for mark in marks %}

      <tr class="active">

              <form method="post" action="mark_update/{{ mark.id }}">
        {% csrf_token %}
          <td> <input type="text"  class="form-control" value="{{ mark.SubjectId.SubjectName }} {{mark.id}}" readonly> </td>
          <td> <input type="number" class="form-control" name="attendance" value="{{ mark.Attendance }}"></td>
          <td> <input type="number" class="form-control" value="{{ mark.AttendancePercentage }}" readonly></td>
          <td> <input type="number" class="form-control" value="{{ mark.AttendanceMark }}" readonly></td>
          <td> <input type="number" class="form-control" name="assignment1" value="{{ mark.Assignment1Mark }}"></td>
          <td> <input type="number"  class="form-control" name="assignment2" value="{{ mark.Assignment2Mark }}"></td>
          <td> <input type="number" class="form-control" value="{{ mark.TotalAssignmentMark }}" readonly></td>
          <td> <input type="number" class="form-control" name="gd" value="{{ mark.GdMark }}"></td>
          <td><input type="number" class="form-control" name="cp" value="{{ mark.CpMark }}"></td>
                            <td><input type="number" class="form-control"  value="{{ mark.Total }}" readonly></td>
          <td> <button  type="submit" class="btn btn-success btn-sm">Update</button></td>
                            <td> <a href="mark_delete/{{ mark.id }}" type="button" class="btn btn-danger btn-sm">Delete</a></td>
          </form>

      </tr>

      {% endfor %}





    </tbody>

  </table>



        </div>


    </div>
</div>





{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}


<!--coded by devaprasad-->
<!--message for front-end developers:-->
<!--*All fields must be required field-->
<!--* Show max attendance-->


















