{% extends 'base.html' %}
{% load static %}

{% block title %} Approval {% endblock %}

{% block styles %}

</style>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="{% static 'css/individual.css' %}" rel="stylesheet">
  <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/mark_upload.css' %}" rel="stylesheet">
  <link href="{% static 'css/mark_upload-table.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
{% include 'reusable/sidebar.html' %}
{% include 'reusable/navbar.html' %}



<div id="wrapper">
	<div class="main-content">
        <h3>Course Name: {{subject.SubjectName}}</h3>
         <div class="p-t-15">
                    <button onclick="history.back()">Go Back</button>
                </div>

        <div class="d-flex justify-content-center align-items-center" style="margin-top: 3rem;">
            <div class="col-md-6">
                <div class="search">
                   <form action="mark_upload" method="POST">
                     {% csrf_token %}
                    <img class="fa-search" src="{% static 'assets/search.svg' %}" alt=""/>
                    <input name="name" type="text" class="form-control" placeholder="Have a question? Ask Now" />
                    <button class="btn btn-secondary">Search</button>
                   </form>
                </div>

            </div>
        </div>
        <div class="table-parent">
            <table>
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Register No</th>
                        <th>Marks</th>
                        <th>Upload</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>

                {% for user in users %}
                    <tr>
                        <td><a href="#">{{ forloop.counter }}</a></td>
                        <td>{{ user.ApplicationId.Name }}</td>
                        <td>{{ user.RegNumber }}</td>
                        <td>
                            {% for mark in marks %}
                                {% if mark.StudentId == user %}

<!--                                    <p class="num">Attendance :{{mark.Attendance}}</p>-->
<!--                                    <p class="num">Assinment1 :{{mark.Assignment1Mark}}</p>-->
<!--                                    <p class="num">Assinment2 :{{mark.Assignment2Mark}}</p>-->
<!--                                    <p class="num">Gd Mark    :{{mark.GdMark}}</p>-->
<!--                                    <p class="num">Cp Mark    :{{mark.CpMark}}</p>-->
                                    {{mark.Total}}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/owner/mark_upload/{{ user.Register_Number }}" class="btn btn-outline-success btn-sm">Upload </a>
                        </td>
                        <td>
                            <a href="/owner/mark_edit/{{ user.Register_Number }}" class="btn btn-outline-success btn-sm">Edit</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
</table>







        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}