
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Payment</title>
  <!-- CSS only -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>


<div class="m-5">
 <div class="signup-content" style="background: #fff">
    <div class="row">
    <div class="container-fluid">

   </div>
  </div>
<br>
 <div class="jumbotron border shadow">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form action="payment" method="post">

                      {% csrf_token %}

                        <div class="input-group">
                            <input name="name" type="text" placeholder="Search" class="form-control form-control-lg" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark btn-lg">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
  </div>

<table class="table table-bordered">
    <thead>

    <tr>
        <th>Name</th>
        <th>Phd_Reg</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Status</th>


    </tr>
    </thead>
    <tbody>

        {% for user in users %}

      <tr class="active">


          <td>{{ user.ApplicationId.Name }}</td>
          <td>{{ user.ApplicationId.Phd_Reg }}</td>
          <td>{{ user.ApplicationId.Mob }}</td>
          <td> {{ user.ApplicationId.Email }}</td>

          {% if user.PaymentStatus == null %}
            <td><a class="btn btn-warning w-100" href="payment/{{ user.id }}" role="button">Verify</a></td>
            {% elif user.PaymentStatus == True %}
            <td><a class="btn btn-success w-100" href="payment/{{ user.id }}" role="button">Accepted</a></td>
            {% else %}
            <td><a class="btn btn-danger w-100" href="payment/{{ user.id }}" role="button">Rejected</a></td>
          {% endif %}

      </tr>

      {% endfor %}
    </tbody>

  </table>


  </div>
</div>
</body>

</html>



















