{% extends 'base.html' %}
{% load static %}

{% block title %}Payment Status{% endblock %}

{% block styles %}

    <link href="{% static 'css/mark_upload-table.css' %}" rel="stylesheet">
    <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
{% include 'reusable/sidebar.html' %}
{% include 'reusable/navbar.html' %}


<div id="wrapper">
	<div class="main-content">
        {% include 'reusable/back_button.html' %}
         <a href="/owner/payment_edit" class="btn btn-outline-success btn-sm bt-pos">Add payment</a>

        <div class="main-container">
            <h2 class="main-head">Payment Verification</h2>

            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <form action="payment_subject" method="post">
                        {% csrf_token %}
                        <div class="search">
                            <img class="fa-search" src="{% static 'assets/search.svg' %}" alt=""/>
                            <input name="name" type="text" class="form-control" placeholder="Search for Applicants">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-parent">
            <table>
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Register Num</th>
                        <th>Cusatian</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    {% for user in users %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.ApplicationId.Name }}</td>
                            <td>{{ user.RegNumber }}</td>
                            <td>
                                {% if user.ApplicationId.Cusatian == True %}
                                    <p class="badge rounded-pill bg-success " style="font-size:1rem;">Yes <i class="fa fa-check"></i></p>
                                {% else %}
                                    <p class="badge rounded-pill bg-danger " style="font-size:1rem;">No <i class="fa fa-check"></i></p>
                                {% endif %}
                            </td>
                            <td>
                                {% for user_payment in user_payments %}

                                    {% if user_payment.StudentId == user %}
                                        <p>{{ user_payment.PaymentId.PaymentName }}:
                                            {% if user_payment.PaymentStatus == True %}
                                                <p class="badge rounded-pill bg-success " style="font-size:1rem;">Verified <i class="fa fa-check"></i></p>
                                            {% else %}
                                                <p class="badge rounded-pill bg-warning text-dark" style="font-size:1rem;"> Not verified <i class="fa fa-times"></i></p>
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td class="text-center"><a class="btn btn-outline-success btn-sm" href="/owner/payment/{{ user.Register_Number }}" role="button">Verify</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
    let html_tag = document.getElementsByTagName('html')
    let button_tag = document.getElementById("nav--btn")

    button_tag.onclick = function (e) {
        e.preventDefault()
        html_tag[0].classList.toggle("menu-active")
    }
</script>
{% endblock %}



















