<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Report</title>

</head>
<style>
/*    html {*/
/*  font-family: sans-serif;*/
/*}*/

table {
  /*border-collapse: collapse;*/
  border: 1px solid black;
  /*letter-spacing: 1px;*/
  font-size: 0.8rem;
    padding: 10px 2px;
    text-align: center;

}

/*td, th {*/

/*  !*border: 1px ;*!*/
/*  */
/*}*/






</style>

<body>



  <table>


    <thead>
      <tr>
        <th colspan="12"><h1>PROF N. R. MADHAVA MENON INTERDISCIPLINARY CENTRE FOR RESEARCH ETHICS AND PROTOCOLS, CUSAT, KOCHI- 022</h1></th>
      </tr>
         <tr>
        <th colspan="12"><h2>Research and Publication Ethics Course Work Program, 2020 Batch- INTERNAL ASSESSMENT</h2></th>
      </tr>
         <tr>
        <th colspan="2" style="text-align: right">Total number of hours</th>
        <th colspan="1" style="text-align: left; background-color: #D3D3D3;">{{subject.TotalHour}}</th>
         <th colspan="4" style="text-align: right">Subject</th>
           <th colspan="5" style="text-align: left; background-color: #D3D3D3;">{{subject.SubjectName}}</th>
      </tr>
    </thead>


    <tbody>
      <tr>

        <th  rowspan="2" style="width: 25px">SNo.</th>
        <th  rowspan="2" style="width: 100px">Name of Students</th>
        <th rowspan="2" style="width: 50px">Reg_No</th>
                   <th rowspan="2" style="width: 60px">No: of Attendance</th>
                <th rowspan="2" style="width: 60px">% of Attendance</th>
                 <th rowspan="2" style="width: 60px">Mark for Attendance(5)</th>

              <th colspan="2" style="width: 60px">Assignment</th>

                <th rowspan="2">Total mark for Assignment(20)</th>
                   <th rowspan="2">Group Discussions(20)</th>
                    <th rowspan="2">Class participations(5)</th>
                   <th rowspan="2">Total Internal Marks out of 50</th>

      </tr>
      <tr>
        <th style="width: 30px">1</th>
        <th style="width: 30px">2</th>
      </tr>


 {% for user in users %}
           {% for mark in marks %}
              {% if mark.StudentId == user %}

            <tr class="active">

                 <td>{{forloop.counter}}</td>
                  <td>{{ mark.StudentId.ApplicationId.Name }}</td>
                  <td>{{ mark.StudentId.RegNumber}}</td>
                  <td>{{ mark.Attendance }}</td>
                   <td>{{ mark.AttendancePercentage }}</td>
                   <td>{{ mark.AttendanceMark }}</td>
                   <td>{{ mark.Assignment1Mark }}</td>
                    <td> {{ mark.Assignment2Mark }}</td>
                   <td> {{ mark.TotalAssignmentMark }}</td>
                   <td> {{ mark.GdMark }}</td>
                    <td> {{ mark.CpMark }}</td>
                   <td> {{ mark.Total }}</td>


                </tr>
                {% endif %}
               {% endfor %}
              {% endfor %}




    </tbody>
  </table>
</body>

</html>



