
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mark Report</title>
    <!-- CSS only -->
 </head>

  <style>
      table{
          border: 1px solid black;
          padding: 10px 2px;
          text-align: center;

      }

  </style>
  <body>

  <table>
      <thead>
      <tr>
          <th colspan="5"><h1>PROF N. R. MADHAVA MENON INTERDISCIPLINARY CENTRE FOR RESEARCH ETHICS AND PROTOCOLS, CUSAT, KOCHI- 022</h1></th>
      </tr>
      <tr>
          <th colspan="5"><h2>Research and Publication Ethics Course Work Program, 2020 Batch- INTERNAL ASSESSMENT</h2></th>
      </tr>
      </tr>
         <tr>
        <th   style="text-align: right">Total number of hours</th>
        <th  style="text-align: left; background-color: #D3D3D3;">{{total_attendance}}</th>
         <th  style="text-align: right">Subject</th>
           <th colspan="2" style="text-align: left; background-color: #D3D3D3;">RPE</th>
      </tr>
      <tr>

<th >SNo.</th>
       <th>Name of Students</th>
       <th>Phd_Register</th>
      <th>RegisterNo</th>
       <th>Total Attendance </th>
    </tr>
      </thead>

       <tbody>

        {% for user in users %}
                {% for mark in marks %}
                {% if mark.StudentId == user %}

      <tr class="active">

<td>{{forloop.counter}}</td>
          <td>{{ user.ApplicationId.Name }}</td>
          <td>{{ user.ApplicationId.Phd_Reg }}</td>
         <td>{{ user.RegNumber }}</td>
        <td>{{ mark.Total }}</td>

     </tr>

        {% endif %}
        {% endfor %}

          {% endfor %}
   </tbody>
  </table>



  </body>
</html>