<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
{% include 'reusable/sidebar.html'%}
{% include 'reusable/navbar.html' %}

<div id="wrapper">
    <div class="main-content">
        <div class="p-t-15">
                    <button onclick="history.back()">Go Back</button>
             </div>

        <div class="table-responsive">
            <h1>{{subject.SubjectName}}</h1>
            <hr>

            <table class="table table-bordered">

                <thead>
                <tr>
                    <th colspan="11"><h3 class="text-center">PROF N. R. MADHAVA MENON INTERDISCIPLINARY CENTRE FOR
                        RESEARCH ETHICS AND PROTOCOLS, CUSAT, KOCHI- 022</h3></th>
                </tr>
                <tr>
                    <th colspan="11"><h5 class="text-center">Research and Publication Ethics Course Work Program, 2020
                        Batch- INTERNAL ASSESSMENT</h5></th>
                </tr>
                <tr>
                <th colspan="2" class="text-end">Total number of hours</th>
                    <th class="table-secondary">{{subject.TotalHour}}</th>
                    <th colspan="3" class="text-end">Subject</th>
                    <th colspan="5" class="table-secondary">{{subject.SubjectName}}</th>
                </tr>

                <tr>

                    <th rowspan="2">SNo.</th>
                    <th rowspan="2">Name of Students</th>
                    <th rowspan="2">No: of Attendance</th>
                    <th rowspan="2">% of Attendance</th>
                    <th rowspan="2">Mark for Attendance(5)</th>

                    <th colspan="2">Assignment</th>

                    <th rowspan="2">Total mark for Assignment(20)</th>
                    <th rowspan="2">Group Discussions(20)</th>
                    <th rowspan="2">Class participations(5)</th>
                    <th rowspan="2">Total Internal Marks out of 50</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                {% for mark in marks %}
                {% if mark.StudentId == user %}

                <tr class="active">

                    <td>{{forloop.counter}}</td>
                    <td>{{ mark.StudentId.ApplicationId.Name }}</td>
                    <td>{{ mark.Attendance }}</td>
                    <td>{{ mark.AttendancePercentage }}</td>
                    <td>{{ mark.AttendanceMark }}</td>
                    <td>{{ mark.Assignment1Mark }}</td>
                    <td> {{ mark.Assignment2Mark }}</td>
                    <td> {{ mark.TotalAssignmentMark }}</td>
                    <td> {{ mark.GdMark }}</td>
                    <td> {{ mark.CpMark }}</td>
                    <td> {{ mark.Total }}</td>


                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </tbody>

            </table>


            <a href="report_download/{{subject.id}}" class="btn btn-outline-success btn-sm ">Download Report</a>

        </div>

    </div>
</div>

</body>
</html>