{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block styles %}
    <link href="{% static 'css/register_form.css' %}" rel="stylesheet">
    <link href="{% static 'css/mark_upload-table.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include  'reusable/navbar.html' %}
{% include  'reusable/sidebar.html' %}

<div id="wrapper">
    <div class="main-content">
        <div class="table-parent">
            <form method="post" action="subjects_edit">
                {% csrf_token %}
                <div class="main">
                    <div class="row row-space">
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Subject Name:</label>
                                <input type="text" class="input--style-4 input_default" id="subjectname" name="subjectname" ></div>
                        </div>

                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Year of Admission</label>
                                <input type="number" class="input--style-4 input_default" id="totalhours" name="year" >
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Total Hours</label>
                                <input type="number" class="input--style-4 input_default" id="year" name="totalhours" >
                            </div>
                        </div>

                        <div class="col-3" style="align-self: center;">
                            <button id="butn" class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>


                    </div>
                </div>
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Subject Name</th>
                         <th>Year of Admission</th>
                        <th>Total Hours</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                {% for subject in subjects %}
                    <tr class="active">
                        <form method="post" action="subject_update/{{ subject.id }}">
                            {% csrf_token %}
                        <td><a href="#">{{ forloop.counter }}</a></td>
                        <td> <input value="{{ subject.SubjectName }}" type="text" name="subjectname"></td>
                            <td> <input value="{{ subject.Year }}" type="text" name="year"></td>
                        <td><input value="{{ subject.TotalHour }}" type="number" name="totalhours"></td>
                        <td>
                            <button class="btn btn-success btn-sm" role="button">Update</button>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" href="subject_delete/{{ subject.id }}" role="button">Delete</a>
                        </td>
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
</table>
        </div>
    </div>
</div>
{% endblock %}













