{% extends 'base.html' %}
{% block title %}
    User Management | Admin Panel
{% endblock title %}
{% block body %}
    <div class="container nav-padding">
        <p class="pt-4">
            <a class="text-muted" href="{% url 'dashboard' %}">Go back</a>
        </p>
        <h1 class="pb-4">User Management</h1>
        <form class="d-flex" action="search_user" method="GET">
            <input type="search"
                   class="form-control rounded border-dark "
                   placeholder="Search user"
                   name="search_data"
                   aria-label="Search"
                   aria-describedby="search-addon"/>
            <button type="submit" class="btn btn-outline-dark w-25 ms-4">Search user</button>
        </form>
        <!-- Display result -->
        <h4 class="pt-4 ps-1">User List</h4>
        <ul class="pt-2 list-group">
            {% for user in users %}<li class="list-group-item">{{ user.Name }}</li>{% endfor %}
            <ul>
            </div>
        {% endblock body %}
