<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Title</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

  <div class="m-5">
    {% for user in users %}

    <div class="card mt-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>

        <p class="card-text">Name:{{ user.Name }}</p>
        <p class="card-text">Age:{{ user.Age }}</p>
        <p class="card-text">Phone:{{ user.Phone }}</p>
        <p class="card-text">Email: {{ user.Email }}</p>
        {% if user.Eligibility == True %}
        <a href="# class=" card-link">Selected </a>
        {% elif user.Eligibility == False %}
        <a href="# class=" card-link">Rejected </a>
        {% else %}
        <a href="select/{{ user.id }}" class="card-link">Select</a>
        <a href="reject/{{ user.id }}" class="card-link">Reject</a>
        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>

</body>

</html>