{% extends 'base.html' %}
{% load static %}

{% block title %} Approval {% endblock %}

{% block styles %}

</style>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link href="{% static 'css/individual.css' %}" rel="stylesheet">
  <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
  <link href="{% static 'css/waves.css' %}" rel="stylesheet">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
{% include 'reusable/sidebar.html' %}
{% include 'reusable/navbar.html' %}

<div id="wrapper">
	<div class="main-content">

                    <div class="d-flex justify-content-center align-items-center">
                      <div class="col-md-8">

                          <form action="approve" method="post">

                      {% csrf_token %}

                        <div class="input-group">
                            <input name="name" type="text" placeholder="Search for Applicants" class="form-control" />
                                <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Search</button>

                            </div>
                        </div>
                    </form>




                      </div>
        </div>
      <div class="verify_div">
  <div class="verify_header">
     <div class="verify_list-head">
      <span>Sl</span>
                <input type="checkbox" style="visibility: hidden; "/>
      <p class="name">Name</p>
      <p class="num">Mobile No</p>
      <p class="num">PhD Register No</p>
         <a href="">View</a>

      <div class="verify_menu" style="visibility: hidden" tabindex="-1">
        <div class="three_dots"></div>
        <div class="dropdown" style="visibility: hidden">
          <a href="select/{{ user.id }}" ><div>Approve</div></a>
          <a href="reject/{{ user.id }}" ><div>Reject</div></a>
        </div>
      </div>

    </div>
  </div>
  <div class="verify_lists-parent">
    {% for user in users %}
    <div class="verify_list">
      <span>{{ forloop.counter }}</span>
        <input type="checkbox"/>
      <p class="name">{{ user.Name }}</p>
      <p class="num">{{ user.Mob }}</p>
      <p class="num">{{ user.Phd_Reg }}</p>
      <a href="approve/{{ user.id }}">View</a>
      <div class="verify_menu" tabindex="-1">
        <div class="three_dots"></div>
        <div class="dropdown">
          <a href="select/{{ user.id }}" ><div>Approve</div></a>
          <a href="reject/{{ user.id }}" ><div>Reject</div></a>
        </div>
      </div>

    </div>
    {% endfor %}

  </div>
</div>
  </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}