{% extends 'base.html' %}
{% load static %}

{% block title %} Approval {% endblock %}

{% block styles %}

</style>
  <!-- CSS only -->
<!--  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">-->
  <link href="{% static 'css/owner_approval_list.css' %}" rel="stylesheet">
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
  <link href="{% static 'css/mark_upload.css' %}" rel="stylesheet">
  <link href="{% static 'css/mark_upload-table.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
{% include 'reusable/sidebar.html' %}
{% include 'reusable/navbar.html' %}

<div id="wrapper">
	<div class="main-content">
        <div class="d-flex justify-content-center align-items-center" style="margin-top: 3rem;">
            <div class="col-md-6">
                <form action="approve" method="post">
                {% csrf_token %}
                    <div class="search">
                        <img class="fa-search" src="{% static 'assets/search.svg' %}" alt=""/>
                        <input name="name" type="text" class="form-control" placeholder="Search for Applicants">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-parent">
            <table>
            <thead>
                <tr>
                    <th>Sl No</th>
<!--                    <th>Select</th>-->
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>PhD Register No</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
<!--                    <td><input type="checkbox"/></td>-->
                    <td>{{ user.Name }}</td>
                    <td>{{ user.Mob }}</td>
                    <td>{{ user.Phd_Reg }}</td>
                        {% if user.Eligibility == null %}
                            <td><span class="btn btn-warning btn-sm" style="cursor: default;">Not Verified</span></td>
                        {% elif user.Eligibility == True %}
                            <td><span class="btn btn-success btn-sm" style="cursor: default;">Selected</span></td>
                        {% else %}
                            <td><span class="btn btn-danger btn-sm" style="cursor: default;">Rejected</span></td>
                        {% endif %}

                    <td><a class="btn btn-outline-success btn-sm" href="approve/{{ user.id }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
    </script>
{% endblock %}