{% extends 'base.html' %}
{% load static %}
{% block title %} 404 - Page Not Found {% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block body %}

<div id="page-404">
	<div class="content">
		<div class="title-on-desktop">
			<svg style="width: 600px; height: 200px" alignment-baseline="middle">
				<defs>
					<clipPath id="clip2">
						<path d="M 0 0 L 600 0 L 600 80 L 0 80 L 0 0 L 0 125 L 600 125 L 600 200 L 0 200 Z" />
					</clipPath>
				</defs>
				<text x="300" y="190" style="width: 600px; height: 200px" text-anchor="middle" font-family="Lato" font-weight="700" font-size="250" fill="#505458" clip-path="url(#clip2)">4<tspan fill="#35b8e0">0</tspan>4</text>
			</svg>
			<div class="title">PAGE NOT FOUND</div>
		</div>
		<h1 class="title-on-mobile">Error 404: Page not found</h1>
		<p>It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us. You might want to check your internet connection. Here's a little tip that might help you get back on track.</p>
		<a href="/" class="btn btn-info">Return home</a>

	</div>
</div>

{% endblock %}