{% load static %}

<div class="main-menu">
	<header class="header">
<!--		<img src="{% static 'assets/icrep_logo.jpeg' %}" class="img_logo" alt=""/>-->
		<a href="" class="logo">Admin Panel</a>-->
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<div class="content">

		<div class="navigation">
			<ul class="menu js__accordion">
				<li>
					<a href="/owner/approve" class=" text-white text-center estudent sidebar-items"><i class="fa fa-credit-card"></i><span>Student Verification</span></a>
				</li>

				<li>
					<a href="/owner/show_batches" class=" text-white text-center estudent sidebar-items"><i class="fa fa-cog"></i><span>Edit Details</span></a>
				</li>

				<li>
					<a href="/owner/subjects_edit" class=" text-white text-center estudent sidebar-items"><i class="fa fa-pencil"></i><span>Add New Batch</span></a>
				</li>
<!--coded by devaprasad-->
				<li>
					<a href="/owner/show_students" class=" text-white text-center estudent sidebar-items"><i class="fa fa-table"></i><span>Mark Upload</span></a>
				</li>
<!--				<li>-->
<!--					<a href="/owner/payment" class=" text-white text-center estudent sidebar-items"> <i class="fa fa-book"></i><span>Payment Verification</span></a>-->
<!--				</li>-->
				<li>
					<a href="/owner/payment_subject" class=" text-white text-center estudent sidebar-items"> <i class="fa fa-book"></i><span>Payment Verification</span></a>
				</li>
				<li>
					<a href="/owner/show_report" class=" text-white text-center estudent sidebar-items"><i class="fa fa-id-card"></i><span>Final Report</span></a>
				</li>
				<li>
                <a href="/owner/logout" class="text-white text-center estudent sidebar-items"> <i class="fa fa-sign-out"></i><span>Logout</span></a>
            </li>


			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->