{% load static %}
<div class="main-menu">
	<header class="header">
		<a href="" class="logo">eStudents</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect" href="/owner/"><img class="dash-icons" src="{% static 'assets/home.svg' %}" alt=""/><span>Dashboard</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/owner/approve"><i class="menu-icon mdi mdi-view-dashboard"></i><span>Student Verification</span></a>
				</li>
<!--coded by devaprasad-->
				<li>
					<a href="/owner/mark_upload" class="waves-effect" ><i class="menu-icon mdi mdi-calendar-multiple"></i><span>Mark Upload</span></a>
				</li>
				<li>
					<a href="/owner/payment" class="waves-effect" ><i class="menu-icon mdi mdi-calendar-multiple"></i><span>Payment Verification</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/owner/show_report"><i class="menu-icon mdi mdi-calendar-multiple"></i><span>Final Report</span></a>
				</li>


			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->