{% load static %}
<div class="s-layout__sidebar" style="z-index: 1000;">

    <!--Sidebar Title Icon (Only shows when sidebar is retracted) -->
<!--    <a class="s-sidebar__trigger" href="#0">-->
<!--        <i class="fa fa-bars"></i>-->
<!--    </a>-->
<!-- <img src="{% static 'assets/icrep_logo.jpeg' %}" class="s-sidebar__trigger" alt="" style="border-radius:100%"/>-->

    <nav class="s-sidebar__nav" style="z-index: 500;">

        <a class="s-sidebar__trigger" href="#0">
        <i class="fa fa-bars"></i>
    </a>
 <img src="{% static 'assets/icrep_logo.jpeg' %}" class="s-sidebar__trigger" alt="" style="border-radius:100%"/>

<!--<div ><img src="{% static 'assets/icrep_logo.jpeg' %}" class="nav-link" alt="" style="border-radius:100%; height: 40px; width: 40px;"/></div>-->
        <ul>
            <!-- Sidebar Title -->


            <li class="nav-item">

                <a href="/" class="nav-link text-white text-center  s-sidebar__nav-link">
<div ><img src="{% static 'assets/icrep_logo.jpeg' %}" class="" alt="" style= "height: 60px; width: 60px;"/></div>
<!--                    <div class="estudent"> <em><h3>eStudents</h3></em></div>-->

                </a>
            </li>

            <!-- Sidebar Menu -->
            <li class="nav-item">
                <a href="dashboard" class="nav-link text-white s-sidebar__nav-link" >
                    <i class="fa fa-user" >
                    </i><em>Profile</em>
                </a>
            </li>

            <li>
                <a href="payment_form" class="nav-link text-white s-sidebar__nav-link">
                    <i class="fa fa-credit-card"></i>
                    <em>Payment</em>
                </a>
            </li>
            <li>
                <a href="marks" class="nav-link text-white s-sidebar__nav-link">
                    <i class="fa fa-table"></i>
                    <em>Marks</em>
                </a>
            </li>

            <li>
                <a href="attendance" class="nav-link text-white s-sidebar__nav-link">
                    <i class="fa fa-book"></i>
                    <em>Attendance</em>
                </a>
            </li>

            <li>
                <a href="settings" class="nav-link text-white s-sidebar__nav-link">
                    <i class="fa fa-cog"></i>
                    <em>Settings</em>
                </a>
            </li>

            <li>
                <a href="logout" class="nav-link text-white s-sidebar__nav-link">
                    <i class="fa fa-sign-out"></i>
                    <em>Logout</em>
                </a>
            </li>
        </ul>
    </nav>
</div>
