<!--Coded BY Akhila-->
<!--attendance table-->
{% extends 'base.html' %}
{% load static %}
{% block title %}
    Attendance
{% endblock title %}

{% block styles %}
<link href="{% static 'css/user_sidebar.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block body %}


<!-- Dashboard Sidebar -->
{% include 'reusable/user_sidebar.html'%}

<!-- Dashboard Content -->
<div class="d-flex flex-column flex-grow-1 p-4 " style="height: 100vh; margin-left: 15rem;">
    <h1 style="font-size:30px;">Attendance Record</h1>
    <hr>

            <table class="table table-bordered">
    <thead>

    <tr>


        <th>Course Name</th>
        <th>No: of Attendance</th>
        <th>Total(Max)</th>
        <th>Attendance (%)</th>
    </tr>
    </thead>
        <tbody>

        {% for attend in attendance %}

      <tr class="active">

          {% if attend.StudentId == User %}
          <td>{{ attend.SubjectId.SubjectName }}</td>
          <td>{{ attend.Attendance }}</td>
          <td>/ 20</td>
          <td>{{ attend.AttendancePercentage }}</td>
          {% endif %}
      </tr>

      {% endfor %}
    </tbody>

  </table>




<!--    <p>-->
<!--        Show Attendance-->
<!--    </p>-->
</div>

{% endblock %}
