{% extends 'base.html' %}
{% load static %}
{% block title %}
    User Dashboard
{% endblock title %}

{% block styles %}
<link href="{% static 'css/user_dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/user_sidebar.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}


<!-- Dashboard Sidebar -->
{% include 'reusable/user_sidebar.html'%}

<!-- Dashboard Content -->
<div class="d-flex flex-column flex-grow-1 p-4" style="height: 100vh; margin-left: 15rem;">
    <h1>Welcome {{ User.ApplicationId.Name }} </h1>
    <hr>

    <div class="row gutters-sm">

        <div class="col-xs-8">
            <div class="card xs-3">
                <div class="card-body">
                    <div class="row dash-div">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Name }}
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Email }}
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date of Birth</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Dob }}
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Mob }}
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Department</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Department }}
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">PhD Registration Number</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Phd_Reg }}
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Research Topic</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Research_Topic }}
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Research Guide</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Research_Guide }}
                                </div>
                            </div>
                            <hr class="hr2">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    {{ User.ApplicationId.Address }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <figure class="ind-header_pic">
                                <img src="{% static 'assets/person_image.png' %}">
                            </figure>

                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}

