{% extends 'base.html' %}
{% load static %}
{% block title %}
    Marks
{% endblock title %}

{% block styles %}
<link href="{% static 'css/user_sidebar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}



        <!-- Dashboard Sidebar -->
        {% include 'reusable/user_sidebar.html'%}

        <!-- Dashboard Content -->
        <div class="d-flex flex-column flex-grow-1 p-4" style="height: 100vh; margin-left: 15rem;">
            <h1>Marks</h1>
            <hr>

            <table class="table table-bordered">
    <thead>

    <tr>


        <th>Subject Name</th>
        <th>No: of Attendance</th>
        <th>% of Attendance</th>
        <th>Mark for Attendance</th>

        <th>Assignment1</th>
        <th>Assignment2</th>
        <th>Total mark for Assignment</th>
        <th>Group Discussions</th>
        <th>Class participations</th>
        <th>Total</th>
    </tr>
    </thead>
        <tbody>

        {% for mark in marks %}

      <tr class="active">

          {% if mark.StudentId == User %}
          <td>{{ mark.SubjectId.SubjectName }}</td>
          <td>{{ mark.Attendance }}</td>
          <td>{{ mark.AttendancePercentage }}</td>
          <td>{{ mark.AttendanceMark }}</td>
          <td>{{ mark.Assignment1Mark }}</td>
          <td> {{ mark.Assignment2Mark }}</td>
          <td> {{ mark.TotalAssignmentMark }}</td>
          <td> {{ mark.GdMark }}</td>
          <td> {{ mark.CpMark }}</td>
          <td> {{ mark.Total }}</td>

          {% endif %}
      </tr>

      {% endfor %}
    </tbody>

  </table>




        </div>

{% endblock %}
