{% extends 'base.html' %}
{% load static %}
{% block title %}
    Payment
{% endblock title %}
{% block styles %}
<link href="{% static 'css/payment_form.css' %}" rel="stylesheet">
<link href="{% static 'css/user_sidebar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}


<!-- Dashboard Sidebar -->
{% include 'reusable/user_sidebar.html'%}


<!-- Dashboard Content -->


<div class="d-flex flex-column flex-grow-1 p-4 payment_wrapper">
    <div class="container mt-5">
        <div class="wrapper">

            {% if message %}
         <div class="alert alert-success " id="messages" role="alert">
             {{message}}
             </div>
            {% endif %}
            <h1>Payment Details</h1>
            <p>Submit the receipt of your payment details here.</p>
            <div class="container">
                <h1 id="upload_head">Upload file</h1>
                <div class="upload-container">
                    <div class="border-container">
                        <div class="icons fa-4x">
<!--                            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate&#45;&#45;45"></i>-->
<!--                            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>-->
<!--                            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>-->
                        </div>

                        <label for="">Payment Mode</label><br>
                                <select name="subject" class="input--style-4 input_default" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value="">Course Fees</option>
                                <option value="">Exam Fees</option>
                                </select>

                        <!--<input type="file" id="file-upload">-->
                        <section class="section-preview">

                            <form class="md-form my-3" method="post" action="payment_form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="file-field">
                                    <div class="btn btn_upload btn-dark btn-sm float-left">

                                        <input type="file" id="file_upload" onchange="fileVerify(this)" name="File">
                                    </div>
                                    <button type="submit" class="btn btn-primary w-10" id="files" disabled>Submit</button>
                                    <label for="files" class="btn">Last Submit: {{ Uploaded_file }}</label>
                                </div>
                            </form>

                        </section>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function fileVerify(input) {
        let file = input.value;
        let sbmt_btn = document.getElementById('files');
        let upload_txt = document.getElementById('upload_head');


        if (input.value.length === 0) console.log("Error No File Uploaded")
        let ext = file.substring(file.lastIndexOf('.') + 1).toLowerCase();

        if (ext == 'png' || ext == 'jpeg' || ext == 'jpg' || ext == 'pdf') {
            sbmt_btn.disabled = false;
            upload_txt.removeAttribute('style');
            upload_txt.innerText = "File selected";
        }
        else {
            upload_txt.setAttribute('style', 'color: #F87474;')
            upload_txt.innerText = "Invalid File Type!!"

            swal("INVALID FILE TYPE", "File type must be either pdf, png, jpg or jpeg", "warning")
        }

    }



//     $(function(){
//     var fileInput = $('#file_upload');
//     var maxSize = fileInput.data('max-size');
//     $('.upload-form').submit(function(e){
//         if(fileInput.get(0).files.length){
//             var fileSize = fileInput.get(0).files[0].size; // in bytes
//             if(fileSize>maxSize){
//                 alert('file size is more then' + maxSize + ' bytes');
//                 return false;
//             }else{
//                 alert('file size is correct- '+fileSize+' bytes');
//             }
//         }else{
//             alert('choose file, please');
//             return false;
//         }
//
//     });
// });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('#messages').fadeOut('slow');
        }, 1000); // <-- time in milliseconds, 1000 =  1 sec
    });
</script>

{% endblock %}


