{% extends 'base.html' %}
{% load static %}
{% block title %}
    Payment
{% endblock title %}
{% block styles %}
<link href="{% static 'css/payment_form.css' %}" rel="stylesheet">
<link href="{% static 'css/user_sidebar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}


<!-- Dashboard Sidebar -->
{% include 'reusable/user_sidebar.html'%}


<!-- Dashboard Content -->


<div class="d-flex flex-column flex-grow-1 p-4" style="height: 100vh; margin-left: 15rem;">
    <div class="container mt-5">
        <div class="wrapper">
            <h1>Payment Details</h1>
            <p>Submit the receipt of your payment details here.</p>
            <div class="container">
                <h1>Upload file</h1>
                <div class="upload-container">
                    <div class="border-container">
                        <div class="icons fa-4x">
<!--                            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate&#45;&#45;45"></i>-->
<!--                            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>-->
<!--                            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>-->
                        </div>
                        <!--<input type="file" id="file-upload">-->
                        <section class="section-preview">

                            <form class="md-form my-3" method="post" action="payment_form"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="file-field">
                                    <div class="btn btn-dark btn-sm float-left waves-effect waves-light">

                                        <input type="file" name="File">
                                    </div>
                                    <button type="submit" class="btn btn-outline-secondary w-10" id="files">Submit</button>
                                    <label for="files" class="btn btn-dark">{{ Uploaded_file }}</label>
                                </div>
                            </form>

                        </section>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}


