{% extends 'base.html' %}
{% load static %}
{% block title %}
    Edit User Details
{% endblock title %}

{% block styles %}
<link href="{% static 'css/user_dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/user_sidebar.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}


<!-- Dashboard Sidebar -->
{% include 'reusable/user_sidebar.html'%}

<!-- Dashboard Content -->
<div class="d-flex flex-column flex-grow-1 p-4" style="height: 100vh; margin-left: 15rem;">
    <h1>Welcome {{ User.ApplicationId.Name }} </h1>
    <hr>

    <div class="row gutters-sm">

        <div class="col-xs-8">
            <div class="card xs-3">
                <div class="card-body">
                    <div class="row dash-div">
                        <div class="col-sm-9">
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Full Name</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-normal">-->
<!--                                    <input type="text" value= "{{ User.ApplicationId.Name }}" class="input&#45;&#45;style-4 input_default" id="name" name="Name" >-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <hr class="hr2">-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Email</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-normal">-->
<!--                                    <input type="email" value= "{{ User.ApplicationId.Email }}" class="input&#45;&#45;style-4 input_default" id="email" name="Email" >-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <hr class="hr2">-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Mobile</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-normal">-->
<!--                                    <input type="number" value= "{{ User.ApplicationId.Mob }}" class="input&#45;&#45;style-4 input_default" id="mobile" name="Mobile">-->
<!--                                </div>-->
<!--                            </div>-->

                            <form method="post" action="change_password">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Password</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    <input type="password" value= "" class="input--style-4 input_default" id="password" name="Password">
                                </div>
                            </div>

                                <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Confirm Password</h6>
                                </div>
                                <div class="col-sm-9 text-normal">
                                    <input type="password" value= "" class="input--style-4 input_default" id="confirmpassword" name="ConfirmPassword">
                                </div>
                            </div>


                            </form>




                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}

